<mat-toolbar>
    <img src="../../../../assets/menu-icons/loan.png" height="35" />
    <span>&nbsp;&nbsp; Loan List</span>
    <span class="spacer"></span>
    <button mat-flat-button color="primary" style="margin: 5px;" (click)="AddLoan()" [disabled]="_btnAddDisabled">
        <mat-icon>add</mat-icon>
        Add
    </button>
    <button mat-raised-button style="margin: 5px;" routerLink="/software" color="warn">
        <mat-icon>close</mat-icon>
        Close
    </button>
</mat-toolbar>
<div class="software-container">
    <div fxLayout="row" fxLayout.xs="column">

        <div fxFlex="100" style="margin: 5px;">

            <mat-progress-bar *ngIf="_isProgressBarHidden" [color]="'primary'" [mode]="'indeterminate'">
            </mat-progress-bar>

            <wj-flex-grid #flexLoan [itemsSource]="_listLoanCollectionView" [selectionMode]="3" [frozenColumns]="2"
                [headersVisibility]="1">
                <wj-flex-grid-filter></wj-flex-grid-filter>
                <wj-flex-grid-column [isReadOnly]="true" [width]="80">
                    <ng-template wjFlexGridCellTemplate [cellType]="'Cell'">
                        <button mat-raised-button color="primary"
                            style="width: 100%; font-size: 11px; line-height: 20px; padding-left: 3px; padding-right: 3px;"
                            (click)="EditLoan()" id="btnEditLoan">
                            <mat-icon>edit</mat-icon>
                            Edit
                        </button>
                    </ng-template>
                </wj-flex-grid-column>
                <wj-flex-grid-column [isReadOnly]="true" [width]="80">
                    <ng-template wjFlexGridCellTemplate [cellType]="'Cell'">
                        <button mat-raised-button color="warn"
                            style="width: 100%; font-size: 11px; line-height: 20px; padding-left: 3px; padding-right: 3px;"
                            (click)="ComfirmDeleteLoan()">
                            <mat-icon>delete</mat-icon>
                            Delete
                        </button>
                    </ng-template>
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Number'" [binding]="'LNNumber'" [isReadOnly]="true" [width]="100">
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Date'" [binding]="'LDDate'" [isReadOnly]="true" [width]="150">
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Employee'" [binding]="'Employee'" [isReadOnly]="true" [width]="150">
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Other Deduction'" [binding]="'OtherDeduction'" [isReadOnly]="true"
                    [width]="150">
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'DocRef'" [binding]="'DocRef'" [isReadOnly]="true" [width]="100">
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Amortization'" [binding]="'Amortization'" [isReadOnly]="true"
                    [width]="150">
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Loan Amount'" [binding]="'LoanAmount'" [isReadOnly]="true"
                    [width]="150">
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Paid Amount'" [binding]="'PaidAmount'" [isReadOnly]="true"
                    [width]="150">
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Balance Amount'" [binding]="'BalanceAmount'" [isReadOnly]="true"
                    [width]="150">
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Status'" [binding]="'Status'" [isReadOnly]="true" [width]="150">
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Remarks'" [binding]="'Remarks'" [isReadOnly]="true" [width]="150">
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Prepared By'" [binding]="'PreparedByUser'" [isReadOnly]="true"
                    [width]="150">
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'L'" [binding]="'IsLocked'" [isReadOnly]="true" [width]="50">
                </wj-flex-grid-column>
            </wj-flex-grid>
        </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="25" style="padding: 2px;">
            <div fxLayout="row" fxLayout.xs="column">
                <mat-button-toggle-group style="margin-top: 7px; width: 100%;">
                    <mat-button-toggle style="width: 100%;" (click)="_listLoanCollectionView.moveToFirstPage()">
                        <mat-icon style="margin-right: -15px;">navigate_before</mat-icon>
                        <mat-icon>navigate_before</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle style="width: 100%;" (click)="_listLoanCollectionView.moveToPreviousPage()">
                        <mat-icon>navigate_before</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle style="width: 100%;">
                        {{ _listLoanCollectionView.pageIndex + 1 }}
                        /
                        {{ _listLoanCollectionView.pageCount }}</mat-button-toggle>
                    <mat-button-toggle style="width: 100%;" (click)="_listLoanCollectionView.moveToNextPage()">
                        <mat-icon>navigate_next</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle style="width: 100%;" (click)="_listLoanCollectionView.moveToLastPage()">
                        <mat-icon style="margin-right: -15px">navigate_next</mat-icon>
                        <mat-icon>navigate_next</mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
        <div fxFlex="15" style="padding: 5px;">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Row</mat-label>
                <mat-select [(ngModel)]="listPageIndex" (selectionChange)='cboShowNumberOfRowsOnSelectedIndexChanged()'>
                    <mat-option *ngFor="let rowSize of cboShowNumberOfRows" [value]="rowSize.rowNumber">
                        {{rowSize.rowString}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>