<mat-toolbar>
    <img src="../../../../assets/menu-icons/company.png" height="35" />&nbsp;&nbsp;
    <span>{{title}}</span>
    <span class="spacer"></span>
    <button mat-raised-button style="margin: 5px;" color="primary" [disabled]="btnSaveDisabled"
        (click)="SaveCompanyDetail()">
        <!-- <mat-icon>save</mat-icon> -->
        Save
    </button>
    <button mat-raised-button style="margin: 5px;" color="primary" [disabled]="btnLockisabled"
        (click)="LockCompanyDetail()">
        <!-- <mat-icon>lock</mat-icon> -->
        Lock
    </button>
    <button mat-raised-button style="margin: 5px;" color="primary" [disabled]="btnUnlockDisabled"
        (click)="UnlockCompanyDetail()">
        <!-- <mat-icon>lock_open</mat-icon> -->
        Unlock
    </button>
    <button mat-raised-button style="margin: 5px;" (click)="Close()" color="warn">
        <!-- <mat-icon>close</mat-icon> -->
        Close
    </button>
</mat-toolbar>
<mat-progress-bar *ngIf="isProgressBarHidden" [color]="'primary'" [mode]="'indeterminate'" style="width: 100%;">
</mat-progress-bar>
<div class="software-container" [hidden]="!userRights.CanOpen">
    <div *ngIf="_isComponentsShown">
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="25" style="padding: 5px;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>CompanyCode</mat-label>
                    <input matInput placeholder="Company Code" [(ngModel)]="companyModel.CompanyCode" readonly>
                </mat-form-field>
            </div>
            <div fxFlex="75" style="padding: 5px;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Company</mat-label>
                    <input matInput placeholder="Company" [(ngModel)]="companyModel.Company" [readonly]="isLocked">
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="25" style="padding: 5px;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>SSS No.</mat-label>
                    <input matInput placeholder="SSSNumber" [(ngModel)]="companyModel.SSSNumber" [readonly]="isLocked">
                </mat-form-field>
            </div>
            <div fxFlex="25" style="padding: 5px;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>PHIC No.</mat-label>
                    <input matInput placeholder="PHIC No." [(ngModel)]="companyModel.PHICNumber" [readonly]="isLocked">
                </mat-form-field>
            </div>
            <div fxFlex="25" style="padding: 5px;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>HDMF No.</mat-label>
                    <input matInput placeholder="PHIC No." [(ngModel)]="companyModel.HDMFNumber" [readonly]="isLocked">
                </mat-form-field>
            </div>
            <div fxFlex="25" style="padding: 5px;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Tax No.</mat-label>
                    <input matInput placeholder="Tax No." [(ngModel)]="companyModel.TaxNumber" [readonly]="isLocked">
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="100" style="padding: 5px;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Address</mat-label>
                    <textarea matInput placeholder="Address" [(ngModel)]="companyModel.Address" [readonly]="isLocked"
                        rows="5" style="min-height: 102px;"></textarea>
                </mat-form-field>
            </div>
        </div>
        <mat-divider style="margin: 5px;"></mat-divider>
        <div fxLayout="row" fxLayout.xs="column" style="color: gray;">
            <div fxFlex="50" style="padding-left: 5px;">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="13">
                        <mat-label class="text-create-update">Created By:</mat-label>
                    </div>
                    <div fxFlex="37">
                        <mat-label class="text-create-update">{{companyModel.CreatedByUser}}</mat-label>
                    </div>
                    <div fxFlex="20">
                        <mat-label class="text-create-update">Created DateTime:</mat-label>
                    </div>
                    <div fxFlex="30">
                        <mat-label class="text-create-update">{{companyModel.CreatedDateTime}}</mat-label>
                    </div>
                </div>
            </div>
            <div fxFlex="50" >
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="13">
                        <mat-label class="text-create-update">Updated By:</mat-label>
                    </div>
                    <div fxFlex="37">
                        <mat-label class="text-create-update">{{companyModel.UpdatedByUser}}</mat-label>
                    </div>
                    <div fxFlex="20">
                        <mat-label class="text-create-update">Updated DateTime:</mat-label>
                    </div>
                    <div fxFlex="30">
                        <mat-label class="text-create-update">{{companyModel.UpdatedDateTime}}</mat-label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>