<h1 mat-dialog-title>
    {{setLabel(dialogTitle)}}
</h1>
<mat-divider></mat-divider>
<mat-dialog-content>
    <div *ngIf="isSpinnerShow" style="padding: 25px 0px 25px 0px; text-align: center;">
        <h4>{{setLabel("Please wait...")}}</h4>
        <mat-spinner style="margin:auto;display:block;"></mat-spinner>
    </div>
    <div *ngIf="isContentShow">
        <div class="software-container">
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="100">
                    <div fxLayout="row" fxLayout.xs="column">
                        <div fxFlex="100" style="padding: 5px;">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <mat-label>{{setLabel("User")}}</mat-label>
                                <mat-select [(ngModel)]="_approver.UserId">
                                    <mat-option *ngFor="let user of userListDropdown" [value]="user.Id">
                                        {{setLabel(user.Value)}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column">
                        <div fxFlex="100" style="padding: 5px;">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <mat-label>{{setLabel("Branch")}}</mat-label>
                                <mat-select [(ngModel)]="_approver.Branch">
                                    <mat-option *ngFor="let branch of branchListDropdown" [value]="branch.Value">
                                        {{setLabel(branch.Value)}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column">
                        <div fxFlex="100" style="padding: 5px;">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <mat-label>{{setLabel("Remarks")}}</mat-label>
                                <textarea matInput [(ngModel)]="_approver.Remarks"
                                    [ngModelTreatments]="{standalone: true}"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions align="end">
    <button mat-flat-button color="primary" (click)="Save()" [disabled]="stillProcessing">
        {{setLabel("Save")}}
    </button>
    <button mat-flat-button color="warn" (click)="Close()" [disabled]="stillProcessing">
        {{setLabel("Close")}}
    </button>
</mat-dialog-actions>