<mat-toolbar>
    <img src="../../../../assets/menu-icons/other income.png" height="35" />&nbsp;&nbsp;
    <span>{{title}}</span>
    <span class="spacer"></span>
    <button mat-raised-button style="margin: 5px;" color="primary" [disabled]="btnSaveDisabled"
        (click)="SaveOtherDeductionDetail()" *ngIf="_userRights.CanEdit">
        <!-- <mat-icon>save</mat-icon> -->
        Save
    </button>
    <button mat-raised-button style="margin: 5px;" color="primary" [disabled]="btnLockisabled"
        (click)="LockOtherDeductionDetail()" *ngIf="_userRights.CanLock">
        <!-- <mat-icon>lock</mat-icon> -->
        Lock
    </button>
    <button mat-raised-button style="margin: 5px;" color="primary" [disabled]="btnUnlockDisabled"
        (click)="UnlockOtherDeductionDetail()" *ngIf="_userRights.CanUnlock">
        <!-- <mat-icon>lock_open</mat-icon> -->
        Unlock
    </button>
    <button mat-raised-button style="margin: 5px;" (click)="Close()" color="warn">
        <!-- <mat-icon>close</mat-icon> -->
        Close
    </button>
</mat-toolbar>
<mat-progress-bar *ngIf="isProgressBarHidden" [color]="'primary'" [mode]="'indeterminate'" style="width: 100%;">
</mat-progress-bar>
<div class="software" [hidden]="!_userRights.CanOpen">
    <div *ngIf="isComponentsShown">
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="25" style="padding: 5px;">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>OtherDeductionCode</mat-label>
                    <input matInput placeholder="Other Income Code"
                        [(ngModel)]="_otherDeductionModel.OtherDeductionCode" readonly>
                </mat-form-field>
            </div>
            <div fxFlex="50" style="padding: 5px;">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>OtherDeduction</mat-label>
                    <input matInput placeholder="Other Income" [(ngModel)]="_otherDeductionModel.OtherDeduction"
                        [readonly]="isLocked">
                </mat-form-field>
            </div>
            <div fxFlex="25" style="padding: 5px;">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Amount</mat-label>
                    <input matInput placeholder="0.00" style="text-align:right;"
                        [(ngModel)]="_otherDeductionModel.DefaultAmount" (keypress)="restrictNumeric($event)"
                        [readonly]="isLocked" (change)="formatValueDefaultAmount()">
                </mat-form-field>
            </div>
            <div fxFlex="25" style="padding: 5px;" style="padding: 23px; text-align: start; display: inline;">
                <div style="width: 100%; border: gray 1px !important">
                    <mat-checkbox color="primary" [disabled]="isLocked" [(ngModel)]="_otherDeductionModel.IsLoan"><span
                            style="color: gray;">
                            IsLoan</span>
                    </mat-checkbox>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="row" fxLayout.xs="column" style="color: gray;">
            <div fxFlex="50" style="padding: 5px;">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="13">
                        <mat-label class="text-create-update">Created By:</mat-label>
                    </div>
                    <div fxFlex="37">
                        <mat-label class="text-create-update">{{_otherDeductionModel.CreatedByUser}}</mat-label>
                    </div>
                    <div fxFlex="20">
                        <mat-label class="text-create-update">Created DateTime:</mat-label>
                    </div>
                    <div fxFlex="30">
                        <mat-label class="text-create-update">{{_otherDeductionModel.CreatedDateTime}}</mat-label>
                    </div>
                </div>
            </div>
            <div fxFlex="50" style="padding: 5px;">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="13">
                        <mat-label class="text-create-update">Updated By:</mat-label>
                    </div>
                    <div fxFlex="37">
                        <mat-label class="text-create-update">{{_otherDeductionModel.UpdatedByUser}}</mat-label>
                    </div>
                    <div fxFlex="20">
                        <mat-label class="text-create-update">Updated DateTime:</mat-label>
                    </div>
                    <div fxFlex="30">
                        <mat-label class="text-create-update">{{_otherDeductionModel.UpdatedDateTime}}</mat-label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>