<mat-toolbar>
    <img src="../../../../assets/menu-icons/user.png" height="35" />
    <span>&nbsp;&nbsp; User Detail</span>
    <span class="spacer"></span>
    <button mat-raised-button style="margin: 5px;" color="primary" (click)="SaveUserDetail()"
        [disabled]="btnSaveDisabled">
        <mat-icon>save</mat-icon>
        Save
    </button>
    <button mat-raised-button style="margin: 5px;" color="primary" (click)="LockUserDetail()"
        [disabled]="btnLockisabled">
        <mat-icon>lock</mat-icon>
        Lock
    </button>
    <button mat-raised-button style="margin: 5px;" color="primary" (click)="UnlockUserDetail()"
        [disabled]="btnUnlockDisabled">
        <mat-icon>lock_open</mat-icon>

        Unlock
    </button>
    <button mat-raised-button style="margin: 5px;" routerLink="/software/user-list" color="warn">
        <mat-icon>close</mat-icon>
        Close
    </button>
</mat-toolbar>
<mat-progress-bar *ngIf="isProgressBarHidden" [color]="'primary'" [mode]="'indeterminate'" style="width: 100%;">
</mat-progress-bar>
<div class="software-container">
    <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="50" style="padding: 5px;">
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="100" style="padding: 5px;">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Full Name</mat-label>
                        <input matInput placeholder="Full Name" [(ngModel)]="userModel.FullName" [readonly]="isLocked">
                    </mat-form-field>
                </div>
            </div>

            <!-- <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="50" style="padding: 5px;">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Created By</mat-label>
                        <input matInput placeholder="Password" [(ngModel)]="userModel.CreatedByUser" readonly>
                    </mat-form-field>
                </div>
                <div fxFlex="50" style="padding: 5px;">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Created Date</mat-label>
                        <input matInput placeholder="Password" [(ngModel)]="userModel.CreatedDateTime" readonly>
                    </mat-form-field>
                </div>
            </div> -->

        </div>
        <div fxFlex="50" style="padding: 5px;">
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="50" style="padding: 5px;">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>UserName</mat-label>
                        <input matInput placeholder="Full Name" [(ngModel)]="userModel.UserName" readonly>
                    </mat-form-field>
                </div>
                <div fxFlex="50" style="padding: 5px;">
                    <form [formGroup]="passwordField">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Password</mat-label>
                            <input type="password" matInput placeholder="Password" [(ngModel)]="userModel.Password"
                                readonly formControlName="password">
                        </mat-form-field>
                    </form>
                </div>
            </div>
            <!-- <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="50" style="padding: 5px;">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Updated By</mat-label>
                        <input matInput placeholder="Password" [(ngModel)]="userModel.UpdatedByUser" readonly>
                    </mat-form-field>
                </div>
                <div fxFlex="50" style="padding: 5px;">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Updated Date</mat-label>
                        <input matInput placeholder="Password" [(ngModel)]="userModel.UpdatedDateTime" readonly>
                    </mat-form-field>
                </div>
            </div> -->
        </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="100" style="margin: 5px;">
            <mat-tab-group #tabGroup (selectedTabChange)="activeTab()" style="max-height:500px; width: 100%;"
                class="user-detail-tab">
                <mat-tab label="User Rights">
                    <br>
                    <mat-progress-bar *ngIf="isUserModuleProgressBarHidden" [color]="'primary'"
                        [mode]="'indeterminate'">
                    </mat-progress-bar>
                    <wj-flex-grid #flexUserModule [itemsSource]="listUserModuleCollectionView" [selectionMode]="3"
                        [frozenColumns]="2">
                        <wj-flex-grid-filter></wj-flex-grid-filter>
                        <wj-flex-grid-column [isReadOnly]="true" [width]="90" *ngIf="!isLocked">
                            <ng-template wjFlexGridCellTemplate [cellType]="'Cell'">
                                <button mat-raised-button color="primary"
                                    style="width: 100%; font-size: 11px; line-height: 20px; padding-left: 3px; padding-right: 3px;"
                                    (click)="EditUserModule()" id="btnEditUserModule">
                                    <mat-icon>edit</mat-icon>Edit
                                </button>
                            </ng-template>
                        </wj-flex-grid-column>
                        <wj-flex-grid-column [isReadOnly]="true" [width]="90" *ngIf="!isLocked">
                            <ng-template wjFlexGridCellTemplate [cellType]="'Cell'">
                                <button mat-raised-button color="warn"
                                    style="width: 100%; font-size: 11px; line-height: 20px; padding-left: 3px; padding-right: 3px;"
                                    (click)="ComfirmDeleteUserModule()">
                                    <mat-icon>delete</mat-icon>Delete
                                </button>
                            </ng-template>
                        </wj-flex-grid-column>
                        <wj-flex-grid-column [header]="'Module'" [binding]="'Module'" [isReadOnly]="true"
                            [isReadOnly]="true" [width]="'2*'">
                        </wj-flex-grid-column>
                        <wj-flex-grid-column [header]="'Can Open'" [binding]="'CanOpen'" [isReadOnly]="true"
                            [isReadOnly]="true" [width]="'2*'">
                        </wj-flex-grid-column>
                        <wj-flex-grid-column [header]="'Can Add'" [binding]="'CanAdd'" [isReadOnly]="true"
                            [isReadOnly]="true" [width]="'2*'">
                        </wj-flex-grid-column>
                        <wj-flex-grid-column [header]="'Can Edit'" [binding]="'CanEdit'" [isReadOnly]="true"
                            [isReadOnly]="true" [width]="'2*'">
                        </wj-flex-grid-column>
                        <wj-flex-grid-column [header]="'Can Lock'" [binding]="'CanLock'" [isReadOnly]="true"
                            [isReadOnly]="true" [width]="'2*'">
                        </wj-flex-grid-column>
                        <wj-flex-grid-column [header]="'Can Unlock'" [binding]="'CanUnlock'" [isReadOnly]="true"
                            [isReadOnly]="true" [width]="'2*'">
                        </wj-flex-grid-column>
                        <wj-flex-grid-column [header]="'Can Delete'" [binding]="'CanDelete'" [isReadOnly]="true"
                            [isReadOnly]="true" [width]="'2*'">
                        </wj-flex-grid-column>
                        <wj-flex-grid-column [header]="'Can Print'" [binding]="'CanPrint'" [isReadOnly]="true"
                            [isReadOnly]="true" [width]="'2*'">
                        </wj-flex-grid-column>
                    </wj-flex-grid>
                    <mat-button-toggle-group style="margin-top: 7px;">
                        <mat-button-toggle (click)="listUserModuleCollectionView.moveToFirstPage()">
                            <mat-icon style="margin-right: -15px">navigate_before</mat-icon>
                            <mat-icon>navigate_before</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle (click)="listUserModuleCollectionView.moveToPreviousPage()">
                            <mat-icon>navigate_before</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle style="width: 100px;">
                            {{ listUserModuleCollectionView.pageIndex + 1 }}
                            /
                            {{ listUserModuleCollectionView.pageCount }}</mat-button-toggle>
                        <mat-button-toggle (click)="listUserModuleCollectionView.moveToNextPage()">
                            <mat-icon>navigate_next</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle (click)="listUserModuleCollectionView.moveToLastPage()">
                            <mat-icon style="margin-right: -15px">navigate_next</mat-icon>
                            <mat-icon>navigate_next</mat-icon>
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </mat-tab>
                <mat-tab label="Payroll Group">
                    <br>
                    <mat-progress-bar *ngIf="isUserPayrollGroupProgressBarHidden" [color]="'primary'"
                        [mode]="'indeterminate'">
                    </mat-progress-bar>
                    <wj-flex-grid #flexUserPayrollGroup [itemsSource]="listUserPayrollGroupCollectionView"
                        [selectionMode]="3" [frozenColumns]="2">
                        <wj-flex-grid-filter></wj-flex-grid-filter>
                        <wj-flex-grid-column [isReadOnly]="true" [width]="90" *ngIf="!isLocked">
                            <ng-template wjFlexGridCellTemplate [cellType]="'Cell'">
                                <button mat-raised-button color="primary"
                                    style="width: 100%; font-size: 11px; line-height: 20px; padding-left: 3px; padding-right: 3px;"
                                    (click)="EditUserPayrollGroup()" id="btnEditUserModule">
                                    <mat-icon>edit</mat-icon>
                                    Edit
                                </button>
                            </ng-template>
                        </wj-flex-grid-column>
                        <wj-flex-grid-column [isReadOnly]="true" [width]="90" *ngIf="!isLocked">
                            <ng-template wjFlexGridCellTemplate [cellType]="'Cell'">
                                <button mat-raised-button color="warn"
                                    style="width: 100%; font-size: 11px; line-height: 20px; padding-left: 3px; padding-right: 3px;"
                                    (click)="ComfirmDeleteUserPayrollGroup()">
                                    <mat-icon>delete</mat-icon>
                                    Delete
                                </button>
                            </ng-template>
                        </wj-flex-grid-column>
                        <wj-flex-grid-column [header]="'Payroll Group'" [binding]="'PayrollGroup'" [isReadOnly]="true"
                            [isReadOnly]="true" [width]="'2*'">
                        </wj-flex-grid-column>
                    </wj-flex-grid>
                    <mat-button-toggle-group style="margin-top: 7px;">
                        <mat-button-toggle (click)="listUserPayrollGroupCollectionView.moveToFirstPage()">
                            <mat-icon style="margin-right: -15px">navigate_before</mat-icon>
                            <mat-icon>navigate_before</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle (click)="listUserPayrollGroupCollectionView.moveToPreviousPage()">
                            <mat-icon>navigate_before</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle style="width: 100px;">
                            {{ listUserPayrollGroupCollectionView.pageIndex + 1 }}
                            /
                            {{ listUserPayrollGroupCollectionView.pageCount }}</mat-button-toggle>
                        <mat-button-toggle (click)="listUserPayrollGroupCollectionView.moveToNextPage()">
                            <mat-icon>navigate_next</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle (click)="listUserPayrollGroupCollectionView.moveToLastPage()">
                            <mat-icon style="margin-right: -15px">navigate_next</mat-icon>
                            <mat-icon>navigate_next</mat-icon>
                        </mat-button-toggle>
                    </mat-button-toggle-group>

                </mat-tab>
                <mat-tab disabled style="background-color: transparent; ">
                    <ng-template mat-tab-label>
                        <button mat-raised-button color="primary" (click)="AddUserTable()" [disabled]="isLocked"
                            style="float: right; margin: 5px;">
                            <mat-icon>add</mat-icon> ADD
                        </button><br>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column" style="color: gray;">
        <div fxFlex="50" style="padding: 5px;">
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="13" style="padding: 5px;">
                    <mat-label>Created By:</mat-label>
                </div>
                <div fxFlex="37" style="padding: 5px;">
                    <mat-label>{{userModel.CreatedByUser}}</mat-label>
                </div>
                <div fxFlex="20" style="padding: 5px;">
                    <mat-label>Created DateTime:</mat-label>
                </div>
                <div fxFlex="30" style="padding: 5px;">
                    <mat-label>{{userModel.CreatedDateTime}}</mat-label>
                </div>
            </div>
        </div>
        <div fxFlex="50" style="padding: 5px;">
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="13" style="padding: 5px;">
                    <mat-label>Updated By:</mat-label>
                </div>
                <div fxFlex="37" style="padding: 5px;">
                    <mat-label>{{userModel.UpdatedByUser}}</mat-label>
                </div>
                <div fxFlex="20" style="padding: 5px;">
                    <mat-label>Updated DateTime:</mat-label>
                </div>
                <div fxFlex="30" style="padding: 5px;">
                    <mat-label>{{userModel.UpdatedDateTime}}</mat-label>
                </div>
            </div>
        </div>
    </div>
</div>