<mat-toolbar>
    <img src="../../../../assets/menu-icons/employees.png" height="35" />
    <span>&nbsp;&nbsp; Employee List</span>
    <span class="spacer"></span>
    <button mat-flat-button color="accent" id="btnAddEmployee" [disabled]="btnAddDisabled" style="margin: 5px;"
        (click)="btnCSVEmployeesListClick()">
        <mat-icon>get_app</mat-icon>
        CSV
    </button>
    <button mat-flat-button color="primary" id="btnAddEmployee" [disabled]="btnAddDisabled" style="margin: 5px;"
        (click)="AddEmployeeDetail()">
        <mat-icon>add</mat-icon>
        Add
    </button>
    <button mat-raised-button style="margin: 5px;" routerLink="/software" color="warn">
        <mat-icon>close</mat-icon>
        Close
    </button>
</mat-toolbar>
<div class="software-container">
    <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="20" style="padding: 5px;">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Payroll Group</mat-label>
                <mat-select [(ngModel)]="filterPayrollGroup" (selectionChange)='payrollGroupSelectionChange()'>
                    <mat-option *ngFor="let payrollGroup of payrollGroupListDropdown" [value]="payrollGroup.Value">
                        {{payrollGroup.Value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="100" style="margin: 5px;">
            <mat-progress-bar *ngIf="isProgressBarHidden" [color]="'primary'" [mode]="'indeterminate'">
            </mat-progress-bar>
            <wj-flex-grid #flexEmployees [itemsSource]="listEmployeeCollectionView" [selectionMode]="3"
                [frozenColumns]="2">
                <wj-flex-grid-filter></wj-flex-grid-filter>
                <wj-flex-grid-column [isReadOnly]="true" [width]="90">
                    <ng-template wjFlexGridCellTemplate [cellType]="'Cell'">
                        <button mat-raised-button color="primary"
                            style="width: 100%; font-size: 11px; line-height: 20px; padding-left: 3px; padding-right: 3px;"
                            (click)="EditEmployeeDetail()" id="btnEditEmployee">
                            <mat-icon>edit</mat-icon>
                            Edit
                        </button>
                    </ng-template>
                </wj-flex-grid-column>
                <wj-flex-grid-column [isReadOnly]="true" [width]="90">
                    <ng-template wjFlexGridCellTemplate [cellType]="'Cell'">
                        <button mat-raised-button color="warn"
                            style="width: 100%; font-size: 11px; line-height: 20px; padding-left: 3px; padding-right: 3px;"
                            (click)="ComfirmDeleteEmployee()">
                            <mat-icon>delete</mat-icon>
                            Delete
                        </button>
                    </ng-template>
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Code'" [binding]="'EmployeeCode'" [isReadOnly]="true"
                    [isReadOnly]="true" [width]="100">
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'ID'" [binding]="'IdNumber'" [isReadOnly]="true" [isReadOnly]="true"
                    [width]="150">
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Biometric ID'" [binding]="'BiometricIdNumber'" [isReadOnly]="true"
                    [isReadOnly]="true" [width]="150">
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Full Name'" [binding]="'FullName'" [isReadOnly]="true" [width]="150">
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Company'" [binding]="'Company'" [isReadOnly]="true" [width]="150">
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Branch'" [binding]="'Branch'" [isReadOnly]="true" [width]="150">
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Position'" [binding]="'Position'" [isReadOnly]="true" [width]="150">
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Address'" [binding]="'Address'" [isReadOnly]="true" [width]="150">
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Contact No.'" [binding]="'ContactNumber'" [isReadOnly]="true"
                    [width]="150">
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Mobile No.'" [binding]="'ContactMobileNumber'" [isReadOnly]="true"
                    [width]="150">
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Email Address'" [binding]="'EmailAddress'" [isReadOnly]="true"
                    [width]="150">
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Remarks'" [binding]="'Remarks'" [isReadOnly]="true" [width]="150">
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'L'" [binding]="'IsLocked'" [isReadOnly]="true" [width]="40">
                </wj-flex-grid-column>
            </wj-flex-grid>
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="20" style="padding: 2px;">
                    <div fxLayout="row" fxLayout.xs="column">
                        <mat-button-toggle-group style="margin-top: 7px; width: 100%;">
                            <mat-button-toggle (click)="listEmployeeCollectionView.moveToFirstPage()"
                                style=" width: 100%;">
                                <mat-icon style="margin-right: -15px">navigate_before</mat-icon>
                                <mat-icon>navigate_before</mat-icon>
                            </mat-button-toggle>
                            <mat-button-toggle (click)="listEmployeeCollectionView.moveToPreviousPage()"
                                style=" width: 100%;">
                                <mat-icon>navigate_before</mat-icon>
                            </mat-button-toggle>
                            <mat-button-toggle style=" width: 100%;">{{ listEmployeeCollectionView.pageIndex + 1 }} /
                                {{ listEmployeeCollectionView.pageCount }}</mat-button-toggle>
                            <mat-button-toggle (click)="listEmployeeCollectionView.moveToNextPage()"
                                style=" width: 100%;">
                                <mat-icon>navigate_next</mat-icon>
                            </mat-button-toggle>
                            <mat-button-toggle (click)="listEmployeeCollectionView.moveToLastPage()"
                                style=" width: 100%;">
                                <mat-icon style="margin-right: -15px">navigate_next</mat-icon>
                                <mat-icon>navigate_next</mat-icon>
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                </div>
                <div fxFlex="15" style="padding: 5px;">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Row</mat-label>
                        <mat-select [(ngModel)]="listPageIndex"
                            (selectionChange)='cboShowNumberOfRowsOnSelectedIndexChanged()'>
                            <mat-option *ngFor="let rowSize of cboShowNumberOfRows" [value]="rowSize.rowNumber">
                                {{rowSize.rowString}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</div>