<h3 mat-dialog-title>
    {{ title }}
</h3>
<mat-divider></mat-divider>
<div mat-dialog-content style="height: 70%;">
    <div class="dialog-body" [hidden]="isComponentHidden">
        <br>
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="33" style="padding: 5px;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Employee</mat-label>
                    <input type="text" [(ngModel)]="_changeShiftLine.Employee" matInput readonly>
                    <mat-icon matSuffix (click)="EmployeeListDialog()">keyboard_arrow_down</mat-icon>
                </mat-form-field>
            </div>
            <div fxFlex="25" style="padding: 5px;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Date</mat-label>
                    <input matInput [matDatepicker]="datePickerShiftDate" [(ngModel)]="UIShiftDate"
                        (dateInput)="GetUIDATEShiftDate()">
                    <mat-datepicker-toggle matSuffix [for]="datePickerShiftDate">
                    </mat-datepicker-toggle>
                    <mat-datepicker #datePickerShiftDate color="primary"></mat-datepicker>
                </mat-form-field>
            </div>
            <div fxFlex="33" style="padding: 5px;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Shift</mat-label>
                    <mat-select [(ngModel)]="_changeShiftLine.ShiftId">
                        <mat-option *ngFor="let shift of _shiftListDropdown" [value]="shift.Id">
                            {{shift.Value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex="34" style="padding: 5px;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Branch</mat-label>
                    <mat-select [(ngModel)]="_changeShiftLine.Branch">
                        <mat-option *ngFor="let branch of _branchListDropdown" [value]="branch.Value">
                            {{branch.Value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="100" style="padding: 5px;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Remarks</mat-label>
                    <textarea matInput placeholder="Remarks" [(ngModel)]="_changeShiftLine.Remarks" rows="5"
                        style="min-height: 102px;"></textarea>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions align="right">
    <button mat-flat-button color="primary" align-self="right" style="margin-right: 5px;" (click)="Save()">
        <mat-icon>save</mat-icon>
        Save
    </button>
    <button mat-flat-button mat-dialog-close style="margin: 5px;" color="warn" (click)="Close()">
        <mat-icon>close</mat-icon>
        Cancel
    </button>
</div>