/* .toolbar-fixed-top {
    position: fixed;
    top: 0;
    z-index: 1000;
    border-bottom: 5px solid #742774;
}

.toolbar-spacer {
    flex: 1 1 auto;
} */

.toolbar-fixed-top {
    position: fixed;
    top: 0;
    z-index: 1000;
    border-bottom: 5px solid #742774;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

#showcase {
    height: 100vh;
    background-size: cover;
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    padding: 0 50px;
    background: rgb(24, 24, 24, 0.90);
}

#showcase h1 {
    font-size: 3.5vw;
    padding-top: 100px;
    color: #d3d3d3;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover; 
}

.footer {
    background: #212121;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.spacer {
    flex: 1 1 auto;
}

.social-buttons {
  padding-right: 70px;
}

.feature-img{
    width:350px;
    height:350px;
    object-fit:cover;
    border-radius:50%;
  }