<mat-toolbar>
    <img src="../../../../assets/menu-icons/overtime application.png" height="35" />
    <span>&nbsp;&nbsp; Payroll Other Income Detail</span>
    <span class="spacer"></span>

    <button mat-flat-button style="margin-right: 5px;" color="primary" [disabled]="_btnSaveDisabled"
        (click)="SavePayrollOtherIncomeDetail()" *ngIf="_userRights.CanEdit">
        <mat-icon>save</mat-icon>
        Save
    </button>
    <button mat-flat-button style="margin-right: 5px;" color="primary" [disabled]="_btnLockisabled"
        (click)="LockPayrollOtherIncomeDetail()" *ngIf="_userRights.CanLock">
        <mat-icon>lock</mat-icon>
        Lock
    </button>
    <button mat-flat-button style="margin-right: 5px;" color="primary" [disabled]="_btnUnlockDisabled"
        (click)="UnlockPayrollOtherIncomeDetail()" *ngIf="_userRights.CanUnlock">
        <mat-icon>lock_open</mat-icon>
        Unlock
    </button>
    <button mat-flat-button color="accent" id="btnAddEmployee" [disabled]="_btnUnlockDisabled" style="margin: 5px;"
        (click)="btnCSVClick()">
        <mat-icon>get_app</mat-icon>
        CSV
    </button>
    <button mat-flat-button style="margin-right: 5px;" routerLink="/software/payroll-other-income-list" color="warn">
        <mat-icon>close</mat-icon>
        Close
    </button>
</mat-toolbar>
<mat-progress-bar *ngIf="_isProgressBarHidden" [color]="'primary'" [mode]="'indeterminate'" style="width: 100%;">
</mat-progress-bar>
<div class="software-container" [hidden]="!_userRights.CanOpen">
    <div [hidden]="_isComponentsShown">
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="50" style="padding: 5px;">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="33" style="padding: 5px;margin-top: 3px;">
                        <h2 class="text_box"><b>{{_payrollOtherIncomeModel.PINumber}}</b> </h2>
                    </div>
                    <div fxFlex="33" style="padding: 5px;margin-top: 3px;">
                        <h2 class="text_box"><b>{{_payrollOtherIncomeModel.PayrollGroup}}</b> </h2>
                    </div>
                    <div fxFlex="34" style="padding: 5px;margin-top: 3px;">
                        <h2 class="text_box"><b>{{_payrollOtherIncomeModel.Year}}</b> </h2>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="25" style="padding: 5px;">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Date</mat-label>
                            <input matInput [matDatepicker]="datePickerPIDate"
                                [(ngModel)]="_payrollOtherIncomeModel.PIDate" [disabled]="_isLocked">
                            <mat-datepicker-toggle matSuffix [for]="datePickerPIDate" [disabled]="_isLocked">
                            </mat-datepicker-toggle>
                            <mat-datepicker #datePickerPIDate color="primary"></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div fxFlex="25" style="padding: 5px;">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Prepared By</mat-label>
                            <mat-select [(ngModel)]="_payrollOtherIncomeModel.PreparedByUserId" disabled>
                                <mat-option *ngFor="let user of _userListDropdown" [value]="user.Id">
                                    {{user.Value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex="25" style="padding: 5px;">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Checked By</mat-label>
                            <mat-select [(ngModel)]="_payrollOtherIncomeModel.CheckedByUserId"
                                (selectionChange)="selectedCheckedByUser($event)">
                                <mat-option *ngFor="let user of _userListDropdown" [disabled]="_isLocked"
                                    [value]="user.Id">
                                    {{user.Value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex="25" style="padding: 5px;">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Approved By</mat-label>
                            <mat-select [(ngModel)]="_payrollOtherIncomeModel.ApprovedByUserId"
                                (selectionChange)="selectedApprovedByUser($event)">
                                <mat-option *ngFor="let user of _userListDropdown" [disabled]="_isLocked"
                                    [value]="user.Id">
                                    {{user.Value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div fxFlex="50s" style="padding: 5px;">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="100" style="padding: 5px;">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Remarks</mat-label>
                            <textarea matInput placeholder="AddrRemarksess"
                                [(ngModel)]="_payrollOtherIncomeModel.Remarks" [readonly]="_isLocked" rows="5"
                                style="min-height: 100px;"></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <mat-tab-group #tabGroup style="max-height:100%;" class="detail-tab">
            <mat-tab label="Shift Code Line">
                <mat-progress-bar *ngIf="_isPayrollOtherIncomeLineProgressBarHidden" [color]="'primary'"
                    [mode]="'indeterminate'">
                </mat-progress-bar>
                <wj-flex-grid #flexPayrollOtherIncomeLine [itemsSource]="_listPayrollOtherIncomeLineCollectionView"
                    [selectionMode]="3" [frozenColumns]="2" [headersVisibility]="1">
                    <wj-flex-grid-filter></wj-flex-grid-filter>
                    <wj-flex-grid-column [isReadOnly]="true" [width]="80" *ngIf="_canEdit">
                        <ng-template wjFlexGridCellTemplate [cellType]="'Cell'">
                            <button mat-raised-button color="primary"
                                style="width: 100%; font-size: 11px; line-height: 20px; padding-left: 3px; padding-right: 3px;"
                                (click)="EditPayrollOtherIncomeLine()" id="btnEditDTRLine">
                                <mat-icon>edit</mat-icon>
                                Edit
                            </button>
                        </ng-template>
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [isReadOnly]="true" [width]="80" *ngIf="_canDelete">
                        <ng-template wjFlexGridCellTemplate [cellType]="'Cell'">
                            <button mat-raised-button color="warn"
                                style="width: 100%; font-size: 11px; line-height: 20px; padding-left: 3px; padding-right: 3px;"
                                (click)="ComfirmDeletePayrollOtherIncomeLine()">
                                <mat-icon>delete</mat-icon>
                                Delete
                            </button>
                        </ng-template>
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Employee'" [binding]="'Employee'" [isReadOnly]="true"
                        [width]="'2*'">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Other Income'" [binding]="'OtherIncome'" [isReadOnly]="true"
                        [width]="'2*'">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Amount'" [binding]="'Amount'" [isReadOnly]="true" [width]="'2*'">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Particulars'" [binding]="'Particulars'" [isReadOnly]="true"
                        [width]="'2*'">
                    </wj-flex-grid-column>
                </wj-flex-grid>
            </mat-tab>
            <mat-tab disabled style="background-color: transparent; ">
                <ng-template mat-tab-label>
                    <button mat-raised-button color="primary" style="float: right; margin: 5px;"
                        (click)="AddPayrollOtherIncomeLine()" [disabled]="_btnAddPayrollOtherIncomeLineDisabled"
                        *ngIf="_userRights.CanAdd">
                        <mat-icon>add</mat-icon> ADD
                    </button><br>
                </ng-template>
            </mat-tab>
        </mat-tab-group>

        <div fxLayout="row" fxLayout.xs="column" style="margin-bottom: 15px;">
            <div fxFlex="25" style="padding: 2px;">
                <div fxLayout="row" fxLayout.xs="column">
                    <mat-button-toggle-group style="margin-top: 7px; width: 100%;">
                        <mat-button-toggle (click)="_listPayrollOtherIncomeLineCollectionView.moveToFirstPage()"
                            style=" width: 100%;">
                            <mat-icon style="margin-right: -15px">navigate_before</mat-icon>
                            <mat-icon>navigate_before</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle (click)="_listPayrollOtherIncomeLineCollectionView.moveToPreviousPage()"
                            style=" width: 100%;">
                            <mat-icon>navigate_before</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle style=" width: 100%;">
                            {{ _listPayrollOtherIncomeLineCollectionView.pageIndex + 1 }} /
                            {{ _listPayrollOtherIncomeLineCollectionView.pageCount }}</mat-button-toggle>
                        <mat-button-toggle (click)="_listPayrollOtherIncomeLineCollectionView.moveToNextPage()"
                            style=" width: 100%;">
                            <mat-icon>navigate_next</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle (click)="_listPayrollOtherIncomeLineCollectionView.moveToLastPage()"
                            style=" width: 100%;">
                            <mat-icon style="margin-right: -15px">navigate_next</mat-icon>
                            <mat-icon>navigate_next</mat-icon>
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </div>
            <div fxFlex="15" style="padding: 5px;">

            </div>
        </div>

        <mat-divider style="margin: 5px;"></mat-divider>

        <div fxLayout="row" fxLayout.xs="column" style="color: gray;">
            <div fxFlex="50" style="padding: 5px;">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="13">
                        <mat-label class="text-create-update">Created By:</mat-label>
                    </div>
                    <div fxFlex="37">
                        <mat-label class="text-create-update">{{_payrollOtherIncomeModel.CreatedByUser}}</mat-label>
                    </div>
                    <div fxFlex="20">
                        <mat-label class="text-create-update">Created DateTime:</mat-label>
                    </div>
                    <div fxFlex="30">
                        <mat-label class="text-create-update">{{_payrollOtherIncomeModel.CreatedDateTime}}</mat-label>
                    </div>
                </div>
            </div>
            <div fxFlex="50" style="padding: 5px;">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="13">
                        <mat-label class="text-create-update">Updated By:</mat-label>
                    </div>
                    <div fxFlex="37">
                        <mat-label class="text-create-update">{{_payrollOtherIncomeModel.UpdatedByUser}}</mat-label>
                    </div>
                    <div fxFlex="20">
                        <mat-label class="text-create-update">Updated DateTime:</mat-label>
                    </div>
                    <div fxFlex="30">
                        <mat-label class="text-create-update">{{_payrollOtherIncomeModel.UpdatedDateTime}}</mat-label>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>