<h3 mat-dialog-title>
    {{ title }}
</h3>
<mat-divider></mat-divider>
<div mat-dialog-content>
    {{confirmationMessage}}
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions align="right">
    <button mat-flat-button color="primary" align-self="right" style="margin-right: 5px;" (click)="ConfirmMessageYes()"
        id="btnYes">
        Yes
    </button>
    <button mat-flat-button color="warn" (click)="ConfirmMessageNO()" id="btnNo">
        <i class="fa fa-close fa-fw"></i>No
    </button>
</div>