<h3 mat-dialog-title>
    {{ _title }}
</h3>
<mat-divider></mat-divider>
<br>
<div [hidden]="_isComponentsShown">
    <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="50" style="margin-left: 10px; color: #e56d0a;">
            <h2 class="text_box"><b>{{_dTRLineModel.Employee}}</b> </h2>
        </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column" style="margin-top: -20px;">
        <div fxFlex="15" style="margin-left: 10px;">
            <h2 class="text_box"><b>{{_dTRLineModel.DTRDate}}</b> </h2>
        </div>
        <div fxFlex="70">
        </div>
        <div fxFlex="15" style="text-align:right; margin-right:10px">
            <h2 class="text_box"><b>P {{_dTRLineModel.DailyPay}}</b> </h2>
        </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column" style="margin-top: -20px;">
        <div fxFlex="36" style="padding: 5px;">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Shift Code</mat-label>
                <input type="text" matInput placeholder="Shift Code" readonly [(ngModel)]="_dTRLineModel.Shift">
            </mat-form-field>
        </div>
        <div fxFlex="16" style="padding: 5px;">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Time In 1</mat-label>
                <input type="time" matInput style="text-align:right;" [(ngModel)]="_dTRLineModel.TimeIn1">
            </mat-form-field>
        </div>
        <div fxFlex="16" style="padding: 5px;">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Time Out 1</mat-label>
                <input type="time" matInput style="text-align:right;" [(ngModel)]="_dTRLineModel.TimeOut1">
            </mat-form-field>
        </div>
        <div fxFlex="16" style="padding: 5px;">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Time In 2</mat-label>
                <input type="time" matInput style="text-align:right;" [(ngModel)]="_dTRLineModel.TimeIn2">
            </mat-form-field>
        </div>
        <div fxFlex="16" style="padding: 5px;">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Time Out 2</mat-label>
                <input type="time" matInput style="text-align:right;" [(ngModel)]="_dTRLineModel.TimeOut2">
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="36" style="padding: 5px;">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Date Type</mat-label>
                <mat-select [(ngModel)]="_dTRLineModel.DateType">
                    <mat-option *ngFor="let dateType of _dateTypeListDropdown" [value]="dateType.Value">
                        {{dateType.Value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex="16" style="padding: 5px;">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Rest Day</mat-label>
                <mat-select [(ngModel)]="_dTRLineModel.IsRestDay">
                    <mat-option *ngFor="let choice of _yesOrNoChoices" [value]="choice.Value">
                        {{choice.Display}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex="16" style="padding: 5px;">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>On Leave</mat-label>
                <mat-select [(ngModel)]="_dTRLineModel.IsOnLeave">
                    <mat-option *ngFor="let choice of _yesOrNoChoices" [value]="choice.Value">
                        {{choice.Display}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex="16" style="padding: 5px;">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>On Official Business</mat-label>
                <mat-select [(ngModel)]="_dTRLineModel.IsOnOfficialBusiness">
                    <mat-option *ngFor="let choice of _yesOrNoChoices" [value]="choice.Value">
                        {{choice.Display}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex="16" style="padding: 5px;">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Absent</mat-label>
                <mat-select [(ngModel)]="_dTRLineModel.IsAbsent">
                    <mat-option *ngFor="let choice of _yesOrNoChoices" [value]="choice.Value">
                        {{choice.Display}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="36" style="padding: 5px;">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Branch</mat-label>
                <mat-select [(ngModel)]="_dTRLineModel.Branch">
                    <mat-option *ngFor="let branch of _branchListDropdown" [value]="branch.Value">
                        {{branch.Value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex="16" style="padding: 5px;">

        </div>
        <div fxFlex="16" style="padding: 5px;">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>On Leave Half Day</mat-label>
                <mat-select [(ngModel)]="_dTRLineModel.IsOnLeaveHalfDay">
                    <mat-option *ngFor="let choice of _yesOrNoChoices" [value]="choice.Value">
                        {{choice.Display}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex="16" style="padding: 5px;">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>On Official Business Half Day</mat-label>
                <mat-select [(ngModel)]="_dTRLineModel.IsOnOfficialBusinessHalfDay">
                    <mat-option *ngFor="let choice of _yesOrNoChoices" [value]="choice.Value">
                        {{choice.Display}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex="16" style="padding: 5px;">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label> Absent HalfDay</mat-label>
                <mat-select [(ngModel)]="_dTRLineModel.IsAbsentHalfDay">
                    <mat-option *ngFor="let choice of _yesOrNoChoices" [value]="choice.Value">
                        {{choice.Display}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="36">
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="50" style="padding: 5px;">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Number Of Hours Worked</mat-label>
                        <input matInput placeholder="0.00" style="text-align:right;"
                            (keypress)="restrictNumeric($event)" (change)="formatValueNumberOfHoursWorked()"
                            [(ngModel)]="_dTRLineModel.NumberOfHoursWorked">
                    </mat-form-field>
                </div>
                <div fxFlex="50" style="padding: 5px;">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Daily Pay</mat-label>
                        <input type="text" matInput placeholder="0.00" style="text-align:right;"
                            (keypress)="restrictNumeric($event)" (change)="formatValueDailyPay()"
                            [(ngModel)]="_dTRLineModel.DailyPay">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="50" style="padding: 5px;">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Overtime Hours</mat-label>
                        <input matInput placeholder="0.00" style="text-align:right;"
                            (keypress)="restrictNumeric($event)" (change)="formatValueOvertimeHours()"
                            [(ngModel)]="_dTRLineModel.OvertimeHours">
                    </mat-form-field>
                </div>
                <div fxFlex="50" style="padding: 5px;">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Overtime Pay</mat-label>
                        <input type="text" matInput placeholder="0.00" style="text-align:right;"
                            (keypress)="restrictNumeric($event)" (change)="formatValueOvertimePay()"
                            [(ngModel)]="_dTRLineModel.OvertimePay">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="50" style="padding: 5px;">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Night Differential Hours</mat-label>
                        <input type="text" matInput placeholder="0.00" style="text-align:right;"
                            (keypress)="restrictNumeric($event)" (change)="formatValueNightDifferentialHours()"
                            [(ngModel)]="_dTRLineModel.NightDifferentialHours">
                    </mat-form-field>
                </div>
                <div fxFlex="50" style="padding: 5px;">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Night Differential Pay</mat-label>
                        <input type="text" matInput placeholder="0.00" style="text-align:right;"
                            (keypress)="restrictNumeric($event)" (change)="formatValueNightDifferentialPay()"
                            [(ngModel)]="_dTRLineModel.NightDifferentialPay">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="50" style="padding: 5px;">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Late Hours</mat-label>
                        <input type="text" matInput placeholder="0.00" style="text-align:right;"
                            (keypress)="restrictNumeric($event)" (change)="formatValueLateHours()"
                            [(ngModel)]="_dTRLineModel.LateHours">
                    </mat-form-field>
                </div>
                <div fxFlex="50" style="padding: 5px;">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Late Deduction</mat-label>
                        <input type="text" matInput placeholder="0.00" style="text-align:right;"
                            (keypress)="restrictNumeric($event)" (change)="formatValueLateDeduction()"
                            [(ngModel)]="_dTRLineModel.LateDeduction">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="50" style="padding: 5px;">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Undertime Hours</mat-label>
                        <input type="text" matInput placeholder="0.00" style="text-align:right;"
                            (keypress)="restrictNumeric($event)" (change)="formatValueUndertimeHours()"
                            [(ngModel)]="_dTRLineModel.UndertimeHours">
                    </mat-form-field>
                </div>
                <div fxFlex="50" style="padding: 5px;">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Undertime Deduction</mat-label>
                        <input type="text" matInput placeholder="0.00" style="text-align:right;"
                            (keypress)="restrictNumeric($event)" (change)="formatValueUndertimeDeduction()"
                            [(ngModel)]="_dTRLineModel.UndertimeDeduction">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div fxFlex="16">
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="100" style="padding: 5px;">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Holiday Pay</mat-label>
                        <input type="text" matInput placeholder="0.00" style="text-align:right;"
                            (keypress)="restrictNumeric($event)" (change)="formatValueRestdayPay()"
                            [(ngModel)]="_dTRLineModel.HolidayPay">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="100" style="padding: 5px;">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Restday Pay</mat-label>
                        <input type="text" matInput placeholder="0.00" style="text-align:right;"
                            (keypress)="restrictNumeric($event)" (change)="formatValueRestdayPay()"
                            [(ngModel)]="_dTRLineModel.RestdayPay">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="100" style="padding: 5px;">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Absent Deduction</mat-label>
                        <input type="text" matInput placeholder="0.00" style="text-align:right;"
                            (keypress)="restrictNumeric($event)" (change)="formatValueAbsentDeduction()"
                            [(ngModel)]="_dTRLineModel.AbsentDeduction">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="100" style="padding: 5px;">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Daily Net Pay</mat-label>
                        <input type="text" matInput placeholder="0.00" style="text-align:right;"
                            (keypress)="restrictNumeric($event)" (change)="formatValueDailyNetPay()"
                            [(ngModel)]="_dTRLineModel.DailyNetPay">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div fxFlex="48" style="bottom: 0;">
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="100" style="padding: 5px;">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Remarks</mat-label>
                        <textarea matInput placeholder="AddrRemarksess" [(ngModel)]="_dTRLineModel.Remarks" rows="10"
                            style="min-height: 204px;"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions align="right">
    <button mat-flat-button color="primary" mat-dialog-close style="margin-right: 5px;" (click)="CloseOnSave()">
        <mat-icon>save</mat-icon>
        Save
    </button>
    <button mat-flat-button mat-dialog-close style="margin: 5px;" color="warn" (click)="Close()">
        <mat-icon>close</mat-icon>
        Cancel
    </button>
</div>