<h3 mat-dialog-title>
    <mat-toolbar>
        <span>{{title}}</span>
        <span class="spacer"></span>
        <button mat-flat-button mat-dialog-close style="margin: 5px;" color="warn" (click)="Close()">
            <mat-icon>close</mat-icon>
            Close
        </button>
    </mat-toolbar>
</h3>
<mat-divider></mat-divider>
<div mat-dialog-content>
    <div [hidden]="_isComponentHidden">

        <mat-progress-bar *ngIf="_isPayrollLineProgressBarHidden" [color]="'primary'" [mode]="'indeterminate'">
        </mat-progress-bar>

        <wj-flex-grid #flexPayrollLine [itemsSource]="_listPayrollLineCollectionView" [selectionMode]="3"
            [frozenColumns]="2" [headersVisibility]="1">
            <wj-flex-grid-filter></wj-flex-grid-filter>
            <wj-flex-grid-column [isReadOnly]="true" [width]="90">
                <ng-template wjFlexGridCellTemplate [cellType]="'Cell'">
                    <button mat-raised-button color="primary" (click)="Print()"
                        style="width: 100%; font-size: 11px; line-height: 20px; padding-left: 3px; padding-right: 3px;">
                        View
                    </button>
                </ng-template>
            </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Employee'" [binding]="'Employee'" [isReadOnly]="true" [width]="200">
            </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Payroll Rate'" [binding]="'PayrollRate'" [isReadOnly]="true" [width]="150">
            </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Total Daily Pay'" [binding]="'TotalDailyPay'" [isReadOnly]="true"
                [width]="150">
            </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Total Premium Pay'" [binding]="'TotalPremiumPay'" [isReadOnly]="true"
                [width]="150">
            </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Total Holiday Pay'" [binding]="'TotalHolidayPay'" [isReadOnly]="true"
                [width]="150">
            </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Total Overtime Pay'" [binding]="'TotalOvertimePay'" [isReadOnly]="true"
                [width]="150">
            </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Total Night Differential Pay'" [binding]="'TotalNightDifferentialPay'"
                [isReadOnly]="true" [width]="150">
            </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Total Additional Allowance'" [binding]="'TotalAdditionalAllowance'"
                [isReadOnly]="true" [width]="150">
            </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Total Undertime Deduction'" [binding]="'TotalUndertimeDeduction'"
                [isReadOnly]="true" [width]="150">
            </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Income'" [binding]="'Income'" [isReadOnly]="true" [width]="150">
            </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Total OtherIncome Not Taxable'" [binding]="'TotalOtherIncomeNotTaxable'"
                [isReadOnly]="true" [width]="150">
            </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Gross Income'" [binding]="'GrossIncome'" [isReadOnly]="true" [width]="150">
            </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'SSS Contribution'" [binding]="'SSSContribution'" [isReadOnly]="true"
                [width]="150">
            </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'PHIC Contribution'" [binding]="'PHICContribution'" [isReadOnly]="true"
                [width]="150">
            </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'HDMF Contribution'" [binding]="'HDMFContribution'" [isReadOnly]="true"
                [width]="150">
            </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Income TaxAmount'" [binding]="'IncomeTaxAmount'" [isReadOnly]="true"
                [width]="150">
            </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Total Other Deduction'" [binding]="'TotalOtherDeduction'"
                [isReadOnly]="true" [width]="150">
            </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Net Income'" [binding]="'NetIncome'" [isReadOnly]="true" [width]="150">
            </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'SSS Employer Contribution'" [binding]="'SSSEmployerContribution'"
                [isReadOnly]="true" [width]="150">
            </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'SSS EC'" [binding]="'SSSEC'" [isReadOnly]="true" [width]="150">
            </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'PHIC Employer Contribution'" [binding]="'PHICEmployerContribution'"
                [isReadOnly]="true" [width]="150">
            </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'HDMF EmployerC ontribution'" [binding]="'HDMFEmployerContribution'"
                [isReadOnly]="true" [width]="150">
            </wj-flex-grid-column>
        </wj-flex-grid>
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="35" style="padding: 2px;">
                <div fxLayout="row" fxLayout.xs="column">
                    <mat-button-toggle-group style="margin-top: 7px; width: 100%;">
                        <mat-button-toggle (click)="_listPayrollLineCollectionView.moveToFirstPage()"
                            style=" width: 100%;">
                            <mat-icon style="margin-right: -15px">navigate_before</mat-icon>
                            <mat-icon>navigate_before</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle (click)="_listPayrollLineCollectionView.moveToPreviousPage()"
                            style=" width: 100%;">
                            <mat-icon>navigate_before</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle style=" width: 100%;">
                            {{ _listPayrollLineCollectionView.pageIndex + 1 }} /
                            {{ _listPayrollLineCollectionView.pageCount }}</mat-button-toggle>
                        <mat-button-toggle (click)="_listPayrollLineCollectionView.moveToNextPage()"
                            style=" width: 100%;">
                            <mat-icon>navigate_next</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle (click)="_listPayrollLineCollectionView.moveToLastPage()"
                            style=" width: 100%;">
                            <mat-icon style="margin-right: -15px">navigate_next</mat-icon>
                            <mat-icon>navigate_next</mat-icon>
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </div>
            <div fxFlex="15" style="padding: 5px;">
            </div>
        </div>
    </div>
</div>
<!-- <mat-divider style="margin-top: 10px;"></mat-divider>
<div mat-dialog-actions align="right">

</div> -->