<mat-toolbar>
    <img src="../../../assets/menu-icons/dashboard.png" height="35" />
    <span>&nbsp;&nbsp;{{setLabel("Dashboard")}} </span>
</mat-toolbar>
<div class="software-container" *ngIf="moduleDashBoard">
    <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="25" style="margin: 5px;" *ngIf="moduleEmployeeList">
            <button routerLink="/software/employee-list" mat-stroked-button style="width: 100%; padding: 30px; "
                *ngIf="moduleEmployeeList">
                <img src="../../../assets/menu-icons/employees.png" height="80" />
                <br />
                <br />
                <span style="font-size: 17px;">{{setLabel("Employee")}} </span>
            </button>
            <button routerLink="/software/year-list" mat-stroked-button style="width: 100%; padding: 30px; "
                *ngIf="moduleYearList">
                <img src="../../assets/menu-icons/year.png" height="80" />
                <br />
                <br />
                <span style="font-size: 17px;">{{setLabel("Year")}} Year</span>
            </button>
            <button *ngIf="moduleShiftList" routerLink="/software/shift-code-list" mat-stroked-button
                style="width: 100%; padding: 30px; ">
                <img src="../../assets/menu-icons/shift code.png" height="80" />
                <br />
                <br />
                <span style="font-size: 17px;">{{setLabel("Shift")}} </span>
            </button>
            <button routerLink="/software/mandatory-tables" mat-stroked-button style="width: 100%; padding: 30px; "
                *ngIf="moduleMandatory">
                <img src="../../assets/menu-icons/mandatory tables.png" height="80" />
                <br />
                <br />
                <span style="font-size: 17px;">{{setLabel("Mandatory Tables")}}</span>
            </button>
        </div>
        <!-- dtr -->
        <div fxFlex="25" style="margin: 5px;">
            <button routerLink="/software/dtr-list" mat-stroked-button style="width: 100%; padding: 30px;"
                *ngIf="moduleDTRList">
                <img src="../../../assets/menu-icons/dtr.png" height="80" />
                <br />
                <br />
                <span style="font-size: 17px;">{{setLabel("DTR")}}</span>
            </button>
            <button routerLink="/software/overtime-application-list" mat-stroked-button
                *ngIf="moduleOvertimeApplicationList" style="width: 100%; padding: 30px;">
                <img src="../../../assets/menu-icons/overtime application.png" height="80" />
                <br />
                <br />
                <span style="font-size: 17px;">{{setLabel("Overtime Application")}} </span>
            </button>
            <button routerLink="/software/leave-application-list" mat-stroked-button *ngIf="moduleLeaveApplicationList"
                style="width: 100%; padding: 30px;">
                <img src="../../../assets/menu-icons/leave application.png" height="80" />
                <br />
                <br />
                <span style="font-size: 17px;">{{setLabel("Leave Application")}}</span>
            </button>
            <button routerLink="/software/change-shift-code-list" mat-stroked-button style="width: 100%; padding: 30px;"
                *ngIf="moduleChangeShiftList">
                <img src="../../assets/menu-icons/change shift code.png" height="80" />
                <br />
                <br />
                <span style="font-size: 17px;">{{setLabel("Change Shift")}}</span>
            </button>
        </div>
        <!-- Payroll -->
        <div fxFlex="25" style="margin: 5px;">
            <button routerLink="/software/payroll-list" mat-stroked-button style="width: 100%; padding: 30px;"
                *ngIf="modulePayroll">
                <img src="../../../assets/menu-icons/payroll.png" height="80" />
                <br />
                <br />
                <span style="font-size: 17px;">{{setLabel("Payroll")}}</span>
            </button>
            <button routerLink="/software/payroll-other-deduction-list" mat-stroked-button
                style="width: 100%; padding: 30px;" *ngIf="modulePayrollOtherDeductionList">
                <img src="../../../assets/menu-icons/other deductions.png" height="80" />
                <br />
                <br />
                <span style="font-size: 17px;">{{setLabel("Other Deductions")}}</span>
            </button>
            <button routerLink="/software/payroll-other-income-list" mat-stroked-button
                style="width: 100%; padding: 30px;" *ngIf="modulePayrollOtherIncomeList">
                <img src="../../../assets/menu-icons/other income.png" height="80" />
                <br />
                <br />
                <span style="font-size: 17px;">{{setLabel("Other Income")}}</span>
            </button>
            <button routerLink="/software/loan-list" mat-stroked-button style="width: 100%; padding: 30px;"
                *ngIf="moduleLoanList">
                <img src="../../../assets/menu-icons/loan.png" height="80" />
                <br />
                <br />
                <span style="font-size: 17px;">{{setLabel("Loans")}}</span>
            </button>
        </div>
        <!-- Reports -->
        <div fxFlex="25" style="margin: 5px;">
            <button routerLink="." mat-stroked-button style="width: 100%; padding: 30px;" *ngIf="moduleOthers">
                <img src="../../../assets/menu-icons/reports.png" height="80" />
                <br />
                <br />
                <span style="font-size: 17px;">{{setLabel("Payroll Reports")}}</span>
            </button>
            <button routerLink="." mat-stroked-button style="width: 100%; padding: 30px;" *ngIf="moduleOthers">
                <img src="../../../assets/menu-icons/reports.png" height="80" />
                <br />
                <br />
                <span style="font-size: 17px;">{{setLabel("DTR Reports")}}</span>
            </button>
            <button routerLink="." mat-stroked-button style="width: 100%; padding: 30px;" *ngIf="moduleOthers">
                <img src="../../../assets/menu-icons/reports.png" height="80" />
                <br />
                <br />
                <span style="font-size: 17px;">{{setLabel("Mandatory Reports")}}</span>
            </button>
            <button routerLink="." mat-stroked-button style="width: 100%; padding: 30px;" *ngIf="moduleOthers">
                <img src="../../../assets/menu-icons/reports.png" height="80" />
                <br />
                <br />
                <span style="font-size: 17px;">{{setLabel("Bank Reports")}}</span>
            </button>
        </div>
    </div>
</div>