<mat-toolbar>
    <img src="../../../assets/menu-icons/dashboard.png" height="35" />
    <span>&nbsp;&nbsp; Dashboard</span>
</mat-toolbar>
<div class="software-container" *ngIf="moduleDashBoard">
    <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="25" style="margin: 5px;" *ngIf="moduleEmployeeList">
            <button routerLink="/software/employee-list" mat-stroked-button style="width: 100%; padding: 30px;">
                <img src="../../../assets/menu-icons/employees.png" height="80" />
                <br />
                <br />
                <span style="font-size: 17px;">Employee</span>
            </button>
        </div>
        <div fxFlex="25" style="margin: 5px;" *ngIf="moduleOthers">
            <button routerLink="." mat-stroked-button style="width: 100%; padding: 30px;">
                <img src="../../../assets/menu-icons/loan.png" height="80" />
                <br />
                <br />
                <span style="font-size: 17px;">Loans</span>
            </button>
        </div>
        <div fxFlex="25" style="margin: 5px;" *ngIf="moduleOthers">
            <button routerLink="." mat-stroked-button style="width: 100%; padding: 30px;">
                <img src="../../../assets/menu-icons/reports.png" height="80" />
                <br />
                <br />
                <span style="font-size: 17px;">DTR Reports</span>
            </button>
        </div>
        <div fxFlex="25" style="margin: 5px;">

        </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="25" style="margin: 5px;" *ngIf="moduleOthers">
            <button routerLink="/software/leave-application-list" mat-stroked-button
                style="width: 100%; padding: 30px;">
                <img src="../../../assets/menu-icons/leave application.png" height="80" />
                <br />
                <br />
                <span style="font-size: 17px;">Leave Application</span>
            </button>
        </div>
        <div fxFlex="25" style="margin: 5px;" *ngIf="moduleOthers">
            <button routerLink="/software/other-income" mat-stroked-button style="width: 100%; padding: 30px;">
                <img src="../../../assets/menu-icons/other income.png" height="80" />
                <br />
                <br />
                <span style="font-size: 17px;">Other Income</span>
            </button>
        </div>
        <div fxFlex="25" style="margin: 5px;" *ngIf="moduleOthers">
            <button routerLink="." mat-stroked-button style="width: 100%; padding: 30px;">
                <img src="../../../assets/menu-icons/reports.png" height="80" />
                <br />
                <br />
                <span style="font-size: 17px;">Payroll Reports</span>
            </button>
        </div>
        <div fxFlex="25" style="margin: 5px;">

        </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="25" style="margin: 5px;" *ngIf="moduleOthers">
            <button routerLink="/software/overtime-application-list" mat-stroked-button
                style="width: 100%; padding: 30px;">
                <img src="../../../assets/menu-icons/overtime application.png" height="80" />
                <br />
                <br />
                <span style="font-size: 17px;">Overtime Application</span>
            </button>
        </div>
        <div fxFlex="25" style="margin: 5px;" *ngIf="moduleOthers">
            <button routerLink="/software/other-deductions" mat-stroked-button style="width: 100%; padding: 30px;">
                <img src="../../../assets/menu-icons/other deductions.png" height="80" />
                <br />
                <br />
                <span style="font-size: 17px;">Other Deductions</span>
            </button>
        </div>
        <div fxFlex="25" style="margin: 5px;" *ngIf="moduleOthers">
            <button routerLink="." mat-stroked-button style="width: 100%; padding: 30px;">
                <img src="../../../assets/menu-icons/reports.png" height="80" />
                <br />
                <br />
                <span style="font-size: 17px;">Mandatory Reports</span>
            </button>
        </div>
        <div fxFlex="25" style="margin: 5px;">

        </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="25" style="margin: 5px;" *ngIf="moduleOthers">
            <button routerLink="/software/DTR-list" mat-stroked-button style="width: 100%; padding: 30px;">
                <img src="../../../assets/menu-icons/DTR.png" height="80" />
                <br />
                <br />
                <span style="font-size: 17px;">DTR</span>
            </button>
        </div>
        <div fxFlex="25" style="margin: 5px;" *ngIf="moduleOthers">
            <button routerLink="." mat-stroked-button style="width: 100%; padding: 30px;">
                <img src="../../../assets/menu-icons/payroll.png" height="80" />
                <br />
                <br />
                <span style="font-size: 17px;">Payroll</span>
            </button>
        </div>
        <div fxFlex="25" style="margin: 5px;" *ngIf="moduleOthers">
            <button routerLink="." mat-stroked-button style="width: 100%; padding: 30px;">
                <img src="../../../assets/menu-icons/reports.png" height="80" />
                <br />
                <br />
                <span style="font-size: 17px;">Bank Reports</span>
            </button>
        </div>
        <div fxFlex="25" style="margin: 5px;">

        </div>
    </div>
</div>