<mat-toolbar>
    <img src="../../../../assets/menu-icons/DTR.png" height="35" />
    <span>&nbsp;&nbsp; DTR Detail</span>
    <span class="spacer"></span>
    <button mat-flat-button style="margin-right: 5px;" color="primary" [disabled]="_btnSaveDisabled"
        (click)="SaveDTRDetail()">
        <mat-icon>save</mat-icon>
        Save
    </button>
    <button mat-flat-button style="margin-right: 5px;" color="primary" [disabled]="_btnLockisabled"
        (click)="LockDTRDetail()">
        <mat-icon>lock</mat-icon>
        Lock
    </button>
    <button mat-flat-button style="margin-right: 5px;" color="primary" [disabled]="_btnUnlockDisabled"
        (click)="UnlockDTRDetail()">
        <mat-icon>lock_open</mat-icon>
        Unlock
    </button>
    <button mat-flat-button color="accent" id="btnAddEmployee" [disabled]="_btnUnlockDisabled" style="margin: 5px;"
        (click)="btnCSVClick()">
        <mat-icon>get_app</mat-icon>
        CSV
    </button>
    <button mat-flat-button style="margin-right: 5px;" routerLink="/software/DTR-list" color="warn">
        <mat-icon>close</mat-icon>
        Close
    </button>
</mat-toolbar>
<mat-progress-bar *ngIf="_isProgressBarHidden" [color]="'primary'" [mode]="'indeterminate'" style="width: 100%;">
</mat-progress-bar>
<div class="software-container">
    <div [hidden]="_isComponentsShown">
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="60" style="padding: 5px;">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="33" style="padding: 5px;margin-top: 3px;">
                        <h2 class="text_box"><b>{{_dTRModel.DTRNumber}}</b> </h2>
                    </div>
                    <div fxFlex="33" style="padding: 5px;margin-top: 3px;">
                        <h2 class="text_box"><b>{{_dTRModel.PayrollGroup}}</b> </h2>
                    </div>
                    <div fxFlex="34" style="padding: 5px;margin-top: 3px;">
                        <h2 class="text_box"><b>{{_dTRModel.Year}}</b> </h2>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="33" style="padding: 5px;">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Date</mat-label>
                            <input matInput [matDatepicker]="datePickerDTRDate" [(ngModel)]="UIDTRDate"
                                (dateInput)="GetUIDATEDTRDate()" [readonly]="_isLocked">
                            <mat-datepicker-toggle matSuffix [for]="datePickerDTRDate" [disabled]="_isLocked">
                            </mat-datepicker-toggle>
                            <mat-datepicker #datePickerDTRDate color="primary"></mat-datepicker>
                        </mat-form-field>

                    </div>
                    <div fxFlex="33" style="padding: 5px;">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>DateStart</mat-label>
                            <input matInput [matDatepicker]="datePickerDateStart" [(ngModel)]="UIDateStart"
                                (dateInput)="GetUIDATEDateStart()" [readonly]="_isLocked">
                            <mat-datepicker-toggle matSuffix [for]="datePickerDateStart" [disabled]="_isLocked">
                            </mat-datepicker-toggle>
                            <mat-datepicker #datePickerDateStart color="primary"></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div fxFlex="34" style="padding: 5px;">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Date End</mat-label>
                            <input matInput [matDatepicker]="datePickerDateEnd" [(ngModel)]="UIDateEnd"
                                (dateInput)="GetUIDATEDateEnd()" [readonly]="_isLocked">
                            <mat-datepicker-toggle matSuffix [for]="datePickerDateEnd" [disabled]="_isLocked">
                            </mat-datepicker-toggle>
                            <mat-datepicker #datePickerDateEnd color="primary"></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="33" style="padding: 5px;">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Over Time</mat-label>
                            <mat-select [(ngModel)]="_dTRModel.YearId">
                                <mat-option *ngFor="let oT of _oTListDropdown" [disabled]="_isLocked" [value]="oT.Id">
                                    {{oT.Value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex="33" style="padding: 5px;">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Leave Application</mat-label>
                            <mat-select [(ngModel)]="_dTRModel.LAId">
                                <mat-option *ngFor="let lA of _lAListDropdown" [disabled]="_isLocked" [value]="lA.Id">
                                    {{lA.Value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex="34" style="padding: 5px;">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Change Shift</mat-label>
                            <mat-select [(ngModel)]="_dTRModel.YearId">
                                <mat-option *ngFor="let cS of _cSListDropdown" [disabled]="_isLocked" [value]="cS.Id">
                                    {{cS.Value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div fxFlex="60" style="padding: 5px;">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="33" style="padding: 5px;">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Prepared By</mat-label>
                            <mat-select [(ngModel)]="_dTRModel.PreparedByUserId">
                                <mat-option *ngFor="let user of _userListDropdown" disabled [value]="user.Id">
                                    {{user.Value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex="33" style="padding: 5px;">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Checked By</mat-label>
                            <mat-select [(ngModel)]="_dTRModel.CheckedByUserId"
                                (selectionChange)="selectedCheckedByUser($event)">
                                <mat-option *ngFor="let user of _userListDropdown" [disabled]="_isLocked"
                                    [value]="user.Id">
                                    {{user.Value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex="34" style="padding: 5px;">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Approved By</mat-label>
                            <mat-select [(ngModel)]="_dTRModel.ApprovedByUserId"
                                (selectionChange)="selectedApprovedByUser($event)">
                                <mat-option *ngFor="let user of _userListDropdown" [disabled]="_isLocked"
                                    [value]="user.Id">
                                    {{user.Value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="100" style="padding: 5px;">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Remarks</mat-label>
                            <textarea matInput placeholder="AddrRemarksess" [(ngModel)]="_dTRModel.Remarks"
                                [readonly]="_isLocked" rows="5" style="min-height: 102px;"></textarea>
                        </mat-form-field>
                    </div>
                </div>
            </div>

        </div>

        <mat-tab-group #tabGroup (selectedTabChange)="activeTab()" style="max-height:100%;" class="detail-tab">
            <mat-tab label="DTR Line">
                <mat-progress-bar *ngIf="_isDTRLineProgressBarHidden" [color]="'primary'" [mode]="'indeterminate'">
                </mat-progress-bar>

                <wj-flex-grid #flexDTRLine [itemsSource]="_listDTRLineCollectionView" [selectionMode]="3"
                    [frozenColumns]="2" [headersVisibility]="1">
                    <wj-flex-grid-filter></wj-flex-grid-filter>
                    <wj-flex-grid-column [isReadOnly]="true" [width]="80" *ngIf="!_isLocked">
                        <ng-template wjFlexGridCellTemplate [cellType]="'Cell'">
                            <button mat-raised-button color="primary"
                                style="width: 100%; font-size: 11px; line-height: 20px; padding-left: 3px; padding-right: 3px;"
                                (click)="EditDTRLine()" id="btnEditDTRLine">
                                <mat-icon>edit</mat-icon>
                                Edit
                            </button>
                        </ng-template>
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [isReadOnly]="true" [width]="80" *ngIf="!_isLocked">
                        <ng-template wjFlexGridCellTemplate [cellType]="'Cell'">
                            <button mat-raised-button color="warn"
                                style="width: 100%; font-size: 11px; line-height: 20px; padding-left: 3px; padding-right: 3px;"
                                (click)="ComfirmDeleteDTRLine()">
                                <mat-icon>delete</mat-icon>
                                Delete
                            </button>
                        </ng-template>
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Branch'" [binding]="'Branch'" [isReadOnly]="true" [width]="100">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Employee'" [binding]="'Employee'" [isReadOnly]="true" [width]="200">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Date'" [binding]="'DTRDate'" [isReadOnly]="true" [width]="80">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Type'" [binding]="'DateType'" [isReadOnly]="true" [width]="80">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'RD'" [binding]="'IsRestDay'" [isReadOnly]="true" [width]="30">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Shift'" [binding]="'Shift'" [isReadOnly]="true" [width]="80">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'IN1'" [binding]="'TimeIn1'" [isReadOnly]="true" [width]="75">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'OUT1'" [binding]="'TimeOut1'" [isReadOnly]="true" [width]="75">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'IN2'" [binding]="'TimeIn2'" [isReadOnly]="true" [width]="75">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'OUT2'" [binding]="'TimeOut2'" [isReadOnly]="true" [width]="75">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'OL'" [binding]="'IsOnLeave'" [isReadOnly]="true" [width]="30">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'HOL'" [binding]="'IsOnLeaveHalfDay'" [isReadOnly]="true"
                        [width]="30">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'OB'" [binding]="'IsOnOfficialBusiness'" [isReadOnly]="true"
                        [width]="30">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'HOB'" [binding]="'IsOnOfficialBusinessHalfDay'" [isReadOnly]="true"
                        [width]="30">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'A'" [binding]="'IsAbsent'" [isReadOnly]="true" [width]="30">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'HA'" [binding]="'IsAbsentHalfDay'" [isReadOnly]="true" [width]="30">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Remarks'" [binding]="'Remarks'" [isReadOnly]="true" [width]="150">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'HRS'" [binding]="'NumberOfHoursWorked'" [isReadOnly]="true"
                        [width]="70">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'OT'" [binding]="'OvertimeHours'" [isReadOnly]="true" [width]="70">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'ND'" [binding]="'NightDifferentialHours'" [isReadOnly]="true"
                        [width]="70">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'LH'" [binding]="'LateHours'" [isReadOnly]="true" [width]="70">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'UT'" [binding]="'UndertimeHours'" [isReadOnly]="true" [width]="70">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'DP'" [binding]="'DailyPay'" [isReadOnly]="true" [width]="70">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'PP'" [binding]="'PremiumPay'" [isReadOnly]="true" [width]="70">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'HP'" [binding]="'HolidayPay'" [isReadOnly]="true" [width]="70">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'OP'" [binding]="'OvertimePay'" [isReadOnly]="true" [width]="70">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'COLA'" [binding]="'COLA'" [isReadOnly]="true" [width]="70">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'AA'" [binding]="'AdditionalAllowance'" [isReadOnly]="true"
                        [width]="70">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'LD'" [binding]="'LateDeduction'" [isReadOnly]="true" [width]="70">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'LD'" [binding]="'LateDeduction'" [isReadOnly]="true" [width]="70">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'UD'" [binding]="'UndertimeDeduction'" [isReadOnly]="true"
                        [width]="70">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'AD'" [binding]="'AbsentDeduction'" [isReadOnly]="true" [width]="70">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'NP'" [binding]="'DailyNetPay'" [isReadOnly]="true" [width]="70">
                    </wj-flex-grid-column>

                </wj-flex-grid>
            </mat-tab>
            <mat-tab disabled style="background-color: transparent; ">
                <ng-template mat-tab-label>
                    <button mat-raised-button color="primary" style="float: right; margin: 5px;"
                        (click)="AddDTRLineDialog()" [disabled]="_btnAddDTRLineDisabled">
                        <mat-icon>add</mat-icon> ADD
                    </button><br>
                </ng-template>
            </mat-tab>
        </mat-tab-group>

        <div fxLayout="row" fxLayout.xs="column" style="margin-bottom: 15px;">
            <div fxFlex="20" style="padding: 2px;">
                <div fxLayout="row" fxLayout.xs="column">
                    <mat-button-toggle-group style="margin-top: 7px; width: 100%;">
                        <mat-button-toggle (click)="_listDTRLineCollectionView.moveToFirstPage()" style=" width: 100%;">
                            <mat-icon style="margin-right: -15px">navigate_before</mat-icon>
                            <mat-icon>navigate_before</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle (click)="_listDTRLineCollectionView.moveToPreviousPage()"
                            style=" width: 100%;">
                            <mat-icon>navigate_before</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle style=" width: 100%;">{{ _listDTRLineCollectionView.pageIndex + 1 }} /
                            {{ _listDTRLineCollectionView.pageCount }}</mat-button-toggle>
                        <mat-button-toggle (click)="_listDTRLineCollectionView.moveToNextPage()" style=" width: 100%;">
                            <mat-icon>navigate_next</mat-icon>
                        </mat-button-toggle>
                        <mat-button-toggle (click)="_listDTRLineCollectionView.moveToLastPage()" style=" width: 100%;">
                            <mat-icon style="margin-right: -15px">navigate_next</mat-icon>
                            <mat-icon>navigate_next</mat-icon>
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </div>
            <div fxFlex="15" style="padding: 5px;">

            </div>
        </div>

        <mat-divider></mat-divider>

        <div fxLayout="row" fxLayout.xs="column" style="color: gray;" style="margin-top: 5px;">

            <div fxFlex="60" style="padding: 5px;">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="13" style="padding: 5px;">
                        <mat-label>Created By:</mat-label>
                    </div>
                    <div fxFlex="37" style="padding: 5px;">
                        <mat-label>{{_dTRModel.CreatedByUser}}</mat-label>
                    </div>
                    <div fxFlex="20" style="padding: 5px;">
                        <mat-label>Created DateTime:</mat-label>
                    </div>
                    <div fxFlex="60" style="padding: 5px;">
                        <mat-label>{{_dTRModel.CreatedDateTime}}</mat-label>
                    </div>
                </div>
            </div>
            <div fxFlex="60" style="padding: 5px;">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="13" style="padding: 5px;">
                        <mat-label>Updated By:</mat-label>
                    </div>
                    <div fxFlex="37" style="padding: 5px;">
                        <mat-label>{{_dTRModel.UpdatedByUser}}</mat-label>
                    </div>
                    <div fxFlex="20" style="padding: 5px;">
                        <mat-label>Updated DateTime:</mat-label>
                    </div>
                    <div fxFlex="60" style="padding: 5px;">
                        <mat-label>{{_dTRModel.UpdatedDateTime}}</mat-label>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>