<mat-toolbar>
    <img src="../../../../assets/menu-icons/other income.png" height="35" />&nbsp;&nbsp;
    <span>{{title}}</span>
    <span class="spacer"></span>
    <button mat-raised-button style="margin: 5px;" color="primary" [disabled]="btnSaveDisabled"
        (click)="SaveLoanDetail()">
        <mat-icon>save</mat-icon>
        Save
    </button>
    <button mat-raised-button style="margin: 5px;" color="primary" [disabled]="btnLockisabled"
        (click)="LockLoanDetail()">
        <mat-icon>lock</mat-icon>
        Lock
    </button>
    <button mat-raised-button style="margin: 5px;" color="primary" [disabled]="btnUnlockDisabled"
        (click)="UnlockLoanDetail()">
        <mat-icon>lock_open</mat-icon>
        Unlock
    </button>
    <button mat-raised-button style="margin: 5px;" (click)="Close()" color="warn">
        <mat-icon>close</mat-icon>Close
    </button>
</mat-toolbar>
<mat-progress-bar *ngIf="isProgressBarHidden" [color]="'primary'" [mode]="'indeterminate'" style="width: 100%;">
</mat-progress-bar>
<div class="software-container">
    <div [hidden]="!isComponentsShown">
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="20" style="padding: 5px;margin-top: 3px;">
                <h2 class="text_box"><b>{{_loanModel.LNNumber}}</b> </h2>
            </div>
            <div fxFlex="20" style="padding: 5px;margin-top: 3px;">
                <h2 class="text_box"><b>{{_loanModel.LDDate}}</b> </h2>
            </div>
            <div fxFlex="60" style="padding: 5px;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Employee</mat-label>
                    <input type="text" [(ngModel)]="_loanModel.Employee" matInput readonly>
                    <mat-icon matSuffix (click)="EmployeeListDialog()">keyboard_arrow_down
                    </mat-icon>
                </mat-form-field>
            </div>

        </div>
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="20" style="padding: 5px;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Other Deduction</mat-label>
                    <mat-select [(ngModel)]="_loanModel.OtherDeductionId">
                        <mat-option *ngFor="let otherDeduction of otherDeductionListDropdown" [disabled]="_isLocked"
                            [value]="otherDeduction.Id">
                            {{otherDeduction.Value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex="20" style="padding: 5px;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>DocRef</mat-label>
                    <input matInput placeholder="DocRef" [(ngModel)]="_loanModel.DocRef" [readonly]="_isLocked">
                </mat-form-field>
            </div>
            <div fxFlex="15" style="padding: 5px;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Amortization</mat-label>
                    <input type="{{ inputTypeAmortiztion }}" matInput placeholder="0.00" style="text-align:right;"
                        [(ngModel)]="_loanModel.Amortization" (focus)="AmortiztionToNumberType()" [readonly]="_isLocked"
                        (focusout)="FormatValueAmortization()">
                </mat-form-field>
            </div>
            <div fxFlex="15" style="padding: 5px;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>LoanAmount</mat-label>
                    <input type="{{ inputTypeLoanAmount }}" matInput placeholder="0.00" ui-number-mask="2"
                        style="text-align:right;" [(ngModel)]="_loanModel.LoanAmount" [readonly]="_isLocked"
                        (focus)="LoanAmountToNumberType()" (focusout)="FormatValueLoanAmount()">
                </mat-form-field>
            </div>
            <div fxFlex="15" style="padding: 5px;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>PaidAmount</mat-label>
                    <input type="{{ inputTypePaidAmount }}" matInput placeholder="0.00" style="text-align:right;"
                        readonly [(ngModel)]="_loanModel.PaidAmount">
                </mat-form-field>
            </div>
            <div fxFlex="15" style="padding: 5px;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>BalanceAmount</mat-label>
                    <input type="{{ inputTypeBalanceAmount }}" matInput placeholder="0.00" style="text-align:right;"
                        readonly [(ngModel)]="_loanModel.BalanceAmount">
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="25" style="padding: 5px;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Prepared By</mat-label>
                    <mat-select [(ngModel)]="_loanModel.PreparedByUserId" disabled>
                        <mat-option *ngFor="let user of _userListDropdown" [value]="user.Id">
                            {{user.Value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex="25" style="padding: 5px;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Checked By</mat-label>
                    <mat-select [(ngModel)]="_loanModel.CheckedByUserId">
                        <mat-option *ngFor="let user of _userListDropdown" [disabled]="_isLocked" [value]="user.Id">
                            {{user.Value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex="25" style="padding: 5px;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Approved By</mat-label>
                    <mat-select [(ngModel)]="_loanModel.ApprovedByUserId">
                        <mat-option *ngFor="let user of _userListDropdown" [disabled]="_isLocked" [value]="user.Id">
                            {{user.Value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex="25" style="padding: 5px;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Status</mat-label>
                    <mat-select [(ngModel)]="_loanModel.Status">
                        <mat-option *ngFor="let status of _loanStatusListDropdown" [disabled]="_isLocked"
                            [value]="status.Value">
                            {{status.Value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <!-- Tabs -->
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="100" style="padding: 5px;">
                <mat-tab-group #tabGroup (selectedTabChange)="activeTab()" style="max-height:100%;">
                    <mat-tab label="Payments">
                        <br>
                        <div style="height: 10em;">
                            <mat-progress-bar *ngIf="_isPayrollOtherDeductionLineProgressBarHidden" [color]="'primary'"
                                [mode]="'indeterminate'">
                            </mat-progress-bar>
                            <wj-flex-grid #flexPayrollOtherDeductionLine
                                [itemsSource]="_listPayrollOtherDeductionLineCollectionView" [selectionMode]="3"
                                [frozenColumns]="2" [headersVisibility]="1">
                                <wj-flex-grid-filter></wj-flex-grid-filter>
                                <wj-flex-grid-column [header]="'Employee'" [binding]="'Employee'" [isReadOnly]="true"
                                    [width]="'2*'">
                                </wj-flex-grid-column>
                                <wj-flex-grid-column [header]="'Other Deduction'" [binding]="'OtherDeduction'"
                                    [isReadOnly]="true" [width]="'2*'">
                                </wj-flex-grid-column>
                                <wj-flex-grid-column [header]="'Loan'" [binding]="'Loan'" [isReadOnly]="true"
                                    [width]="'2*'">
                                </wj-flex-grid-column>
                                <wj-flex-grid-column [header]="'Amount'" [binding]="'Amount'" [isReadOnly]="true"
                                    [width]="'2*'">
                                </wj-flex-grid-column>
                                <wj-flex-grid-column [header]="'Particulars'" [binding]="'Particulars'"
                                    [isReadOnly]="true" [width]="'2*'">
                                </wj-flex-grid-column>
                            </wj-flex-grid>
                        </div>
                    </mat-tab>
                    <mat-tab label="Remarks">
                        <br>
                        <div style="height: 10em;">
                            <div fxLayout="row" fxLayout.xs="column">
                                <div fxFlex="100">
                                    <mat-form-field appearance="outline" style="width: 100%;">
                                        <mat-label>Remarks</mat-label>
                                        <textarea matInput placeholder="Remarks" [(ngModel)]="_loanModel.Remarks"
                                            rows="5" [readonly]="_isLocked" style="min-height: 3em;"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="row" fxLayout.xs="column" style="color: gray;">
            <div fxFlex="50" style="padding: 5px;">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="13">
                        <mat-label class="text-create-update">Created By:</mat-label>
                    </div>
                    <div fxFlex="37">
                        <mat-label class="text-create-update">{{_loanModel.CreatedByUser}}</mat-label>
                    </div>
                    <div fxFlex="20">
                        <mat-label class="text-create-update">Created DateTime:</mat-label>
                    </div>
                    <div fxFlex="30">
                        <mat-label class="text-create-update">{{_loanModel.CreatedDateTime}}</mat-label>
                    </div>
                </div>
            </div>
            <div fxFlex="50">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="13">
                        <mat-label class="text-create-update">Updated By:</mat-label>
                    </div>
                    <div fxFlex="37">
                        <mat-label class="text-create-update">{{_loanModel.UpdatedByUser}}</mat-label>
                    </div>
                    <div fxFlex="20">
                        <mat-label class="text-create-update">Updated DateTime:</mat-label>
                    </div>
                    <div fxFlex="30">
                        <mat-label class="text-create-update">{{_loanModel.UpdatedDateTime}}</mat-label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>