<mat-toolbar>
    <img src="../../../../assets/menu-icons/other income.png" height="35" />&nbsp;&nbsp;
    <span>{{title}}</span>
    <span class="spacer"></span>
    <button mat-raised-button style="margin: 5px;" color="primary" [disabled]="btnSaveDisabled"
        (click)="SaveLoanDetail()">
        <mat-icon>save</mat-icon>
        Save
    </button>
    <button mat-raised-button style="margin: 5px;" color="primary" [disabled]="btnLockisabled"
        (click)="LockLoanDetail()">
        <mat-icon>lock</mat-icon>
        Lock
    </button>
    <button mat-raised-button style="margin: 5px;" color="primary" [disabled]="btnUnlockDisabled"
        (click)="UnlockLoanDetail()">
        <mat-icon>lock_open</mat-icon>
        Unlock
    </button>
    <button mat-raised-button style="margin: 5px;" (click)="Close()" color="warn">
        <mat-icon>close</mat-icon>Close
    </button>
</mat-toolbar>
<mat-progress-bar *ngIf="isProgressBarHidden" [color]="'primary'" [mode]="'indeterminate'" style="width: 100%;">
</mat-progress-bar>
<div class="software-container">
    <div *ngIf="isComponentsShown">
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="25" style="padding: 5px;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>LNNumber</mat-label>
                    <input matInput placeholder="LNNumber" [(ngModel)]="_loanModel.LNNumber" readonly>
                </mat-form-field>
            </div>
            <div fxFlex="25" style="padding: 5px;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>LDDate</mat-label>
                    <input matInput [matDatepicker]="datePickerLDDate" [(ngModel)]="_loanModel.LDDate"
                        [readonly]="isLocked">
                    <mat-datepicker-toggle matSuffix [for]="datePickerLDDate" [disabled]="isLocked">
                    </mat-datepicker-toggle>
                    <mat-datepicker #datePickerLDDate color="primary"></mat-datepicker>
                </mat-form-field>
            </div>
            <div fxFlex="25" style="padding: 5px;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Employee</mat-label>
                    <input type="text" [(ngModel)]="_loanModel.Employee" matInput readonly>
                    <mat-icon matSuffix (click)="EmployeeListDialog()">keyboard_arrow_down</mat-icon>
                </mat-form-field>
            </div>
            <div fxFlex="25" style="padding: 5px;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Other Deduction</mat-label>
                    <mat-select [(ngModel)]="_loanModel.OtherDeductionId">
                        <mat-option *ngFor="let otherDeduction of otherDeductionListDropdown"
                            [value]="otherDeduction.Id">
                            {{otherDeduction.Value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="50" style="padding: 5px;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Amortization</mat-label>
                    <input type="text" matInput placeholder="0.00" style="text-align:right;"
                        (keypress)="restrictNumeric($event)" [(ngModel)]="_loanModel.Amortization" [readonly]="isLocked"
                        (change)="formatValueAmortization()">
                </mat-form-field>
            </div>
            <div fxFlex="50" style="padding: 5px;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>LoanAmount</mat-label>
                    <input type="text" matInput placeholder="0.00" ui-number-mask="2" style="text-align:right;"
                        [(ngModel)]="_loanModel.LoanAmount" [readonly]="isLocked" (keypress)="restrictNumeric($event)"
                        (change)="formatValueLoanAmount()">
                </mat-form-field>
            </div>
            <div fxFlex="50" style="padding: 5px;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>PaidAmount</mat-label>
                    <input type="text" matInput placeholder="0.00" style="text-align:right;"
                        [(ngModel)]="_loanModel.PaidAmount" [readonly]="isLocked" (keypress)="restrictNumeric($event)"
                        (change)="formatValuePaidAmount()">
                </mat-form-field>

            </div>
            <div fxFlex="50" style="padding: 5px;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>BalanceAmount</mat-label>
                    <input type="text" matInput placeholder="0.00" style="text-align:right;"
                        [(ngModel)]="_loanModel.BalanceAmount" (keypress)="restrictNumeric($event)"
                        [readonly]="isLocked" (change)="formatValueBalanceAmount()">
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="25" style="padding: 5px;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>DocRef</mat-label>
                    <input matInput placeholder="DocRef" [(ngModel)]="_loanModel.DocRef" readonly>
                </mat-form-field>
            </div>
            <div fxFlex="25" style="padding: 5px;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Prepared By</mat-label>
                    <mat-select [(ngModel)]="_loanModel.PreparedByUserId" disabled>
                        <mat-option *ngFor="let user of _userListDropdown" [value]="user.Id">
                            {{user.Value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex="25" style="padding: 5px;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Checked By</mat-label>
                    <mat-select [(ngModel)]="_loanModel.CheckedByUserId"
                        (selectionChange)="selectedCheckedByUser($event)">
                        <mat-option *ngFor="let user of _userListDropdown" [disabled]="_isLocked" [value]="user.Id">
                            {{user.Value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex="25" style="padding: 5px;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Approved By</mat-label>
                    <mat-select [(ngModel)]="_loanModel.ApprovedByUserId"
                        (selectionChange)="selectedApprovedByUser($event)">
                        <mat-option *ngFor="let user of _userListDropdown" [disabled]="_isLocked" [value]="user.Id">
                            {{user.Value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="25" style="padding: 5px;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Status</mat-label>
                    <input matInput placeholder="Status" [(ngModel)]="_loanModel.Status" readonly>
                </mat-form-field>
            </div>
            <div fxFlex="75" style="padding: 5px;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Remarks</mat-label>
                    <textarea matInput placeholder="Remarks" [(ngModel)]="_loanModel.Remarks" rows="5"
                        style="min-height: 102px;"></textarea>
                </mat-form-field>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="row" fxLayout.xs="column" style="color: gray;">
            <div fxFlex="50" style="padding: 5px;">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="20" style="padding: 5px;">
                        <mat-label>Created By:</mat-label>
                    </div>
                    <div fxFlex="30" style="padding: 5px;">
                        <mat-label>{{_loanModel.CreatedByUser}}</mat-label>
                    </div>
                    <div fxFlex="25" style="padding: 5px;">
                        <mat-label>Created DateTime:</mat-label>
                    </div>
                    <div fxFlex="30" style="padding: 5px;">
                        <mat-label>{{_loanModel.CreatedDateTime}}</mat-label>
                    </div>
                </div>
            </div>
            <div fxFlex="50" style="padding: 5px;">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="20" style="padding: 5px;">
                        <mat-label>Updated By:</mat-label>
                    </div>
                    <div fxFlex="35" style="padding: 5px;">
                        <mat-label>{{_loanModel.UpdatedByUser}}</mat-label>
                    </div>
                    <div fxFlex="25" style="padding: 5px;">
                        <mat-label>Updated DateTime:</mat-label>
                    </div>
                    <div fxFlex="30" style="padding: 5px;">
                        <mat-label>{{_loanModel.UpdatedDateTime}}</mat-label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>