<mat-toolbar>
    <img src="../../../../assets/menu-icons/employees.png" height="35" />
    <span>&nbsp;&nbsp; Employee Detail</span>
</mat-toolbar>
<div class="software-container">
    <mat-card>
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="25%"></div>
            <div fxFlex="25%"></div>
            <div fxFlex="1000" style="margin-bottom: 5px;">
                <div class="example-button-row" style="float: right;">
                    <button mat-raised-button style="margin: 5px;" color="primary" [disabled]="isLocked">
                        <mat-icon>save</mat-icon>
                        Save
                    </button>
                    <button mat-raised-button style="margin: 5px;" color="primary" [disabled]="isLocked">
                        <mat-icon>lock</mat-icon>
                        Lock
                    </button>
                    <button mat-raised-button style="margin: 5px;" color="primary" [disabled]="!isLocked">
                        <mat-icon>lock_open</mat-icon>

                        Unlock
                    </button>
                    <button mat-raised-button style="margin: 5px;" routerLink="/software/employee-list" color="warn">
                        <mat-icon>close</mat-icon>
                        Close
                    </button>
                </div>
            </div>
        </div>
        <mat-progress-bar *ngIf="isProgressBarHidden" [color]="'primary'" [mode]="'indeterminate'" style="width: 100%;">
        </mat-progress-bar>
        <mat-divider></mat-divider>
        <br>
        <br>
        <!-- <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="5%"></div>
            <div fxFlex="60%">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="30%">
                        <div fxFlex="100%">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>FullName</mat-label>
                                <input matInput placeholder="Full Name" [()][readonly]="isLocked">
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxFlex="3%"></div>
                    <div fxFlex="30%">
                        <div fxFlex="100%">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>FullName</mat-label>
                                <input matInput placeholder="Full Name" [readonly]="isLocked">
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxFlex="3%"></div>
                    <div fxFlex="30%">
                        <div fxFlex="100%">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>FullName</mat-label>
                                <input matInput placeholder="Full Name" [readonly]="isLocked">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="100%">
                        <div fxFlex="49%">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>UserName</mat-label>
                                <input matInput placeholder="Full Name" readonly>
                            </mat-form-field>
                        </div>
                        <div fxFlex="2%"></div>
                        <div fxFlex="49%">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>Password</mat-label>
                                <input type="password" matInput placeholder="Password" readonly>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="100%">
                        <div fxFlex="49%">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>Created By</mat-label>
                                <input matInput placeholder="Password" readonly>
                            </mat-form-field>
                        </div>
                        <div fxFlex="2%"></div>
                        <div fxFlex="49%">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>Created Date</mat-label>
                                <input matInput placeholder="Password" readonly>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="100%">
                        <div fxFlex="49%">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>Updated By</mat-label>
                                <input matInput placeholder="Password" readonly>
                            </mat-form-field>
                        </div>
                        <div fxFlex="2%"></div>
                        <div fxFlex="49%">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>Updated Date</mat-label>
                                <input matInput placeholder="Password" readonly>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div fxFlex="20%"></div>
        </div> -->
        <mat-divider></mat-divider>
        <br><br><br>
    </mat-card>
</div>