<h3 mat-dialog-title>
    {{ _title }}
</h3>
<mat-progress-bar *ngIf="_isProgressBarHidden" [color]="'primary'" [mode]="'indeterminate'"></mat-progress-bar>
<mat-divider></mat-divider>
<br>
<div [hidden]="_isComponentsHidden">
    <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="50" style="padding: 5px;">
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Employee</mat-label>
                <input type="text" [(ngModel)]="_payrollLineModel.Employee" matInput readonly>
                <mat-icon matSuffix (click)="EmployeeListDialog()">keyboard_arrow_down</mat-icon>
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="20" style="padding: 5px;">
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="100" style="padding: 5px;">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Payroll Rate</mat-label>
                        <input type="{{inputTypePayrollRate}}" matInput placeholder="0.00" style="text-align:right;"
                            autocomplete="off" [(ngModel)]="_payrollLineModel.PayrollRate"
                            (focus)="PayrollRateToNumberTypeFocus()" (focusout)="PayrollRateFormatValueFocusOut()">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="100" style="padding: 5px;">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Total Daily Pay</mat-label>
                        <input type="{{inputTypeTotalDailyPay}}" matInput placeholder="0.00" style="text-align:right;"
                            autocomplete="off" [(ngModel)]="_payrollLineModel.TotalDailyPay"
                            (focus)="TotalDailyPayToNumberTypeFocus()" (focusout)="TotalDailyPayFormatValueFocusOut()">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="100" style="padding: 5px;">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Total Premium Pay</mat-label>
                        <input type="{{inputTypeTotalPremiumPay}}" matInput placeholder="0.00" style="text-align:right;"
                            autocomplete="off" [(ngModel)]="_payrollLineModel.TotalPremiumPay"
                            (focus)="TotalPremiumPayToNumberTypeFocus()"
                            (focusout)="TotalPremiumPayFormatValueFocusOut()">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="100" style="padding: 5px;">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Total Holiday Pay</mat-label>
                        <input type="{{inputTypeTotalHolidayPay}}" matInput placeholder="0.00" style="text-align:right;"
                            autocomplete="off" [(ngModel)]="_payrollLineModel.TotalHolidayPay"
                            (focus)="TotalHolidayPayToNumberTypeFocus()"
                            (focusout)="TotalHolidayPayFormatValueFocusOut()">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="100" style="padding: 5px;">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Total Overtime Pay</mat-label>
                        <input type="{{inputTypeTotalOvertimePay}}" matInput placeholder="0.00"
                            style="text-align:right;" autocomplete="off"
                            [(ngModel)]="_payrollLineModel.TotalOvertimePay"
                            (focus)="TotalOvertimePayToNumberTypeFocus()"
                            (focusout)="TotalOvertimePayFormatValueFocusOut()">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div fxFlex="20" style="padding: 5px;">
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="100" style="padding: 5px;">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Total Night Differential Pay</mat-label>
                        <input type="{{inputTypeTotalNightDifferentialPay}}" matInput placeholder="0.00"
                            style="text-align:right;" autocomplete="off"
                            [(ngModel)]="_payrollLineModel.TotalNightDifferentialPay"
                            (focus)="TotalNightDifferentialPayToNumberTypeFocus()"
                            (focusout)="TotalNightDifferentialPayFormatValueFocusOut()">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="100" style="padding: 5px;">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Total COLA</mat-label>
                        <input type="{{inputTypeTotalCOLA}}" matInput placeholder="0.00" style="text-align:right;"
                            autocomplete="off" [(ngModel)]="_payrollLineModel.TotalCOLA"
                            (focus)="TotalCOLAToNumberTypeFocus()" (focusout)="TotalCOLAFormatValueFocusOut()">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="100" style="padding: 5px;">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Total Additional Allowance</mat-label>
                        <input type="{{inputTypeTotalAdditionalAllowance}}" matInput placeholder="0.00"
                            style="text-align:right;" autocomplete="off"
                            [(ngModel)]="_payrollLineModel.TotalAdditionalAllowance"
                            (focus)="TotalAdditionalAllowanceToNumberTypeFocus()"
                            (focusout)="TotalAdditionalAllowanceFormatValueFocusOut()">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="100" style="padding: 5px;">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Total Late Deduction {{_payrollLineModel.TotalLateDeduction}}</mat-label>
                        <input type="{{inputTypeTotalLateDeduction}}" matInput placeholder="0.00"
                            style="text-align:right;" autocomplete="off"
                            [(ngModel)]="_payrollLineModel.TotalLateDeduction"
                            (focus)="TotalLateDeductionToNumberTypeFocus()"
                            (focusout)="TotalLateDeductionFormatValueFocusOut()">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="100" style="padding: 5px;">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Total Undertime Deduction</mat-label>
                        <input type="{{inputTypeTotalUndertimeDeduction}}" matInput placeholder="0.00"
                            style="text-align:right;" autocomplete="off"
                            [(ngModel)]="_payrollLineModel.TotalUndertimeDeduction"
                            (focus)="TotalUndertimeDeductionToNumberTypeFocus()"
                            (focusout)="TotalUndertimeDeductionFormatValueFocusOut()">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div fxFlex="20" style="padding: 5px;">
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="100" style="padding: 5px;">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Income</mat-label>
                        <input type="{{inputTypeIncome}}" matInput placeholder="0.00" style="text-align:right;"
                            autocomplete="off" [(ngModel)]="_payrollLineModel.Income"
                            (focus)="IncomeToNumberTypeFocus()" (focusout)="IncomeFormatValueFocusOut()">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="100" style="padding: 5px;">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Total Other Income Not Taxable</mat-label>
                        <input type="{{inputTypeTotalOtherIncomeNotTaxable}}" matInput placeholder="0.00"
                            style="text-align:right;" autocomplete="off"
                            [(ngModel)]="_payrollLineModel.TotalOtherIncomeNotTaxable"
                            (focus)="TotalOtherIncomeNotTaxableToNumberTypeFocus()"
                            (focusout)="TotalOtherIncomeNotTaxableFormatValueFocusOut()">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="100" style="padding: 5px;">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Total Other Income Taxable</mat-label>
                        <input type="{{inputTypeTotalOtherIncomeTaxable}}" matInput placeholder="0.00"
                            style="text-align:right;" autocomplete="off"
                            [(ngModel)]="_payrollLineModel.TotalOtherIncomeTaxable"
                            (focus)="TotalOtherIncomeTaxableToNumberTypeFocus()"
                            (focusout)="TotalOtherIncomeTaxableFormatValueFocusOut()">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="100" style="padding: 5px;">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Gross Income</mat-label>
                        <input type="{{inputTypeGrossIncome}}" matInput placeholder="0.00" style="text-align:right;"
                            autocomplete="off" [(ngModel)]="_payrollLineModel.GrossIncome"
                            (focus)="GrossIncomeToNumberTypeFocus()" (focusout)="GrossIncomeFormatValueFocusOut()">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="100" style="padding: 5px;">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>SSS Contribution</mat-label>
                        <input type="{{inputTypeSSSContribution}}" matInput placeholder="0.00" style="text-align:right;"
                            autocomplete="off" [(ngModel)]="_payrollLineModel.SSSContribution"
                            (focus)="SSSContributionToNumberTypeFocus()"
                            (focusout)="SSSContributionFormatValueFocusOut()">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div fxFlex="20" style="padding: 5px;">
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="100" style="padding: 5px;">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>PHIC Contribution</mat-label>
                        <input type="{{inputTypePHICContribution}}" matInput placeholder="0.00"
                            style="text-align:right;" autocomplete="off"
                            [(ngModel)]="_payrollLineModel.PHICContribution"
                            (focus)="PHICContributionToNumberTypeFocus()"
                            (focusout)="PHICContributionFormatValueFocusOut()">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="100" style="padding: 5px;">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>HDMF Contribution</mat-label>
                        <input type="{{inputTypeHDMFContribution}}" matInput placeholder="0.00"
                            style="text-align:right;" autocomplete="off"
                            [(ngModel)]="_payrollLineModel.HDMFContribution"
                            (focus)="HDMFContributionToNumberTypeFocus()"
                            (focusout)="HDMFContributionFormatValueFocusOut()">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="100" style="padding: 5px;">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Income TaxAmount</mat-label>
                        <input type="{{inputTypeIncomeTaxAmount}}" matInput placeholder="0.00" style="text-align:right;"
                            autocomplete="off" [(ngModel)]="_payrollLineModel.IncomeTaxAmount"
                            (focus)="IncomeTaxAmountToNumberTypeFocus()"
                            (focusout)="IncomeTaxAmountFormatValueFocusOut()">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="100" style="padding: 5px;">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Total Other Deduction</mat-label>
                        <input type="{{inputTypeTotalOtherDeduction}}" matInput placeholder="0.00"
                            style="text-align:right;" autocomplete="off"
                            [(ngModel)]="_payrollLineModel.TotalOtherDeduction"
                            (focus)="TotalOtherDeductionToNumberTypeFocus()"
                            (focusout)="TotalOtherDeductionFormatValueFocusOut()">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="100" style="padding: 5px;">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Net Income</mat-label>
                        <input type="{{inputTypeNetIncome}}" matInput placeholder="0.00" style="text-align:right;"
                            autocomplete="off" [(ngModel)]="_payrollLineModel.NetIncome"
                            (focus)="NetIncomeToNumberTypeFocus()" (focusout)="NetIncomeFormatValueFocusOut()">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div fxFlex="20" style="padding: 5px;">
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="100" style="padding: 5px;">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>SSS Employer Contribution</mat-label>
                        <input type="{{inputTypeSSSEmployerContribution}}" matInput placeholder="0.00"
                            style="text-align:right;" autocomplete="off"
                            [(ngModel)]="_payrollLineModel.SSSEmployerContribution"
                            (focus)="SSSEmployerContributionToNumberTypeFocus()"
                            (focusout)="SSSEmployerContributionFormatValueFocusOut()">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="100" style="padding: 5px;">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>SSSEC</mat-label>
                        <input type="{{inputTypeSSSEC}}" matInput placeholder="0.00" style="text-align:right;"
                            autocomplete="off" [(ngModel)]="_payrollLineModel.SSSEC" (focus)="SSSECToNumberTypeFocus()"
                            (focusout)="SSSECFormatValueFocusOut()">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="100" style="padding: 5px;">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>PHIC Employer Contribution</mat-label>
                        <input type="{{inputTypePHICEmployerContribution}}" matInput placeholder="0.00"
                            style="text-align:right;" autocomplete="off"
                            [(ngModel)]="_payrollLineModel.PHICEmployerContribution"
                            (focus)="PHICEmployerContributionToNumberTypeFocus()"
                            (focusout)="PHICEmployerContributionFormatValueFocusOut()">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column">
                <div fxFlex="100" style="padding: 5px;">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>HDMF Employer Contribution</mat-label>
                        <input type="{{inputTypeHDMFEmployerContribution}}" matInput placeholder="0.00"
                            style="text-align:right;" autocomplete="off"
                            [(ngModel)]="_payrollLineModel.HDMFEmployerContribution"
                            (focus)="HDMFEmployerContributionToNumberTypeFocus()"
                            (focusout)="HDMFEmployerContributionFormatValueFocusOut()">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div mat-dialog-actions align="right">
        <button mat-flat-button color="primary" style="margin-right: 5px;" (click)="SavePayrollLine()">
            <!-- <mat-icon>save</mat-icon> -->
            Save
        </button>
        <button mat-flat-button color="primary" style="margin-right: 5px;" (click)="ComputePayrollLine()">
            <!-- <mat-icon>calculate</mat-icon> -->
            Compute
        </button>
        <button mat-flat-button mat-dialog-close style="margin: 5px;" color="warn" (click)="Close()">
            <!-- <mat-icon>close</mat-icon> -->
            Close
        </button>
    </div>