<h3 mat-dialog-title>
    {{ title }}
</h3>
<mat-divider></mat-divider>
<div mat-dialog-content style="height: 70%;">
    <div class="dialog-body">
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="50" style="padding: 5px;">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Amount Start</mat-label>
                    <input type="{{inputTypeAmountStart}}" matInput placeholder="0.00"
                        [(ngModel)]="_mandatoryBIR.AmountStart" autocomplete="off" style="text-align:right;"
                        (focusout)="AmountStartFormatValue()" (focus)="AmountStartToNumberType()">
                </mat-form-field>
            </div>
            <div fxFlex="50" style="padding: 5px;">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>AmountEnd</mat-label>
                    <input type="{{inputTypeAmountEnd}}" matInput placeholder="0.00"
                        [(ngModel)]="_mandatoryBIR.AmountEnd" autocomplete="off" style="text-align:right;"
                        (focusout)="AmountEndFormatValue()" (focus)="AmountEndToNumberType()">
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="50" style="padding: 5px;">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Employee Tax Percentage</mat-label>
                    <input type="{{inputTypeEmployeeTaxPercentage}}" matInput placeholder="0.00"
                        [(ngModel)]="_mandatoryBIR.EmployeeTaxPercentage" autocomplete="off" style="text-align:right;"
                        (focusout)="EmployeeTaxPercentageFormatValue()" (focus)="EmployeeTaxPercentageToNumberType()">
                </mat-form-field>
            </div>
            <div fxFlex="50" style="padding: 5px;">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Employee Additional Amount</mat-label>
                    <input type="{{inputTypeEmployeeAdditionalAmount}}" matInput placeholder="0.00"
                        [(ngModel)]="_mandatoryBIR.EmployeeAdditionalAmount" autocomplete="off"
                        style="text-align:right;" (focusout)="EmployeeAdditionalAmountFormatValue()"
                        (focus)="EmployeeAdditionalAmountToNumberType()">
                </mat-form-field>
            </div>
        </div>
    </div>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions align="right">
    <button mat-flat-button color="primary" mat-dialog-close align-self="right" style="margin-right: 5px;"
        (click)="Save()">
        <!-- <mat-icon>save</mat-icon> -->
        Save
    </button>
    <button mat-flat-button mat-dialog-close style="margin: 5px;" color="warn" (click)="Close()">
        <!-- <mat-icon>close</mat-icon> -->
        Close
    </button>
</div>