<mat-toolbar>
    <img src="../../../../assets/menu-icons/employees.png" height="35" />
    <span>&nbsp;&nbsp; Employee Portal</span>
    <span class="spacer"></span>

    <button mat-flat-button style="margin-right: 5px;" routerLink="/software" color="warn"
        *ngIf="!moduleEmployeePortalOnly">
        <mat-icon>close</mat-icon>
        Close
    </button>
</mat-toolbar>
<mat-progress-bar *ngIf="_isProgressBarHidden" [color]="'primary'" [mode]="'indeterminate'" style="width: 100%;">
</mat-progress-bar>

<div class="software-container" style='min-height:1000px'>
    <div [hidden]="!_isComponentsShown">
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="15">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="100" style="padding: 5px;">
                        <mat-card>
                            <img src="{{_portalEmployeeModel.PictureURL}}" style="width: 100%;" />
                        </mat-card>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="100" style="padding: 5px;">
                        <button mat-raised-button
                            style="width: 100%; height: 90%; background-color: white; color: #742774;"
                            (click)="ChangePassword()">
                            <mat-icon style="font-size:medium; margin-top: 5px;">vpn_key</mat-icon>
                            <span style="font-size:smaller; ">Change Password</span>

                        </button>
                    </div>
                </div>
            </div>
            <div fxFlex="85">
                <div fxLayout="row" fxLayout.xs="column">
                    <mat-divider style="margin-left: 5px;" [vertical]="true"></mat-divider>
                    <div fxFlex="50" style="padding: 5px;">
                        <div fxLayout="row" fxLayout.xs="column">
                            <div fxFlex="25" style="padding: 5px;">
                                <p class="text_box">Employee Code: </p>
                            </div>
                            <div fxFlex="75" style="padding: 5px;">
                                <p class="text_box"><b>{{_portalEmployeeModel.EmployeeCode}}</b> </p>
                            </div>

                        </div>
                        <div fxLayout="row" fxLayout.xs="column">
                            <div fxFlex="25" style="padding: 5px">
                                <p class="text_box">Fullname:</p>
                            </div>
                            <div fxFlex="75" style="padding: 5px">
                                <p class="text_box"><b>{{_portalEmployeeModel.FullName}}</b> </p>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column">
                            <div fxFlex="25" style="padding: 5px">
                                <p class="text_box">Address:</p>
                            </div>
                            <div fxFlex="75" style="padding: 5px">
                                <p class="text_box"><b>{{_portalEmployeeModel.Address}}</b> </p>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column">
                            <div fxFlex="25" style="padding: 5px;">
                                <p class="text_box">Landline No.:</p>
                            </div>
                            <div fxFlex="75" style="padding: 5px;">
                                <p class="text_box"><b>{{_portalEmployeeModel.ContactNumber}}</b> </p>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column">
                            <div fxFlex="25" style="padding: 5px;">
                                <p class="text_box">Mobile No.:</p>
                            </div>
                            <div fxFlex="75" style="padding: 5px;">
                                <p class="text_box"><b>{{_portalEmployeeModel.ContactMobileNumber}}</b> </p>
                            </div>
                        </div>

                    </div>
                    <mat-divider [vertical]="true"></mat-divider>
                    <div fxFlex="50" style="padding: 5px;">
                        <div fxLayout="row" fxLayout.xs="column">
                            <div fxFlex="30" style="padding: 5px;">
                                <p class="text_box">ID No.:</p>
                            </div>
                            <div fxFlex="20" style="padding: 5px;">
                                <p class="text_box"><b>{{_portalEmployeeModel.IdNumber}}</b> </p>
                            </div>
                            <div fxFlex="25" style="padding: 5px;">
                                <p class="text_box">Biometric No.:
                                </p>
                            </div>
                            <div fxFlex="25" style="padding: 5px;">
                                <p class="text_box"><b>{{_portalEmployeeModel.BiometricIdNumber}}</b>
                                </p>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column">
                            <div fxFlex="30" style="padding: 5px;">
                                <p class="text_box">Company:</p>
                            </div>
                            <div fxFlex="70" style="padding: 5px;">
                                <p class="text_box"><b>{{_portalEmployeeModel.Company}}</b> </p>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column">
                            <div fxFlex="30" style="padding: 5px;">
                                <p class="text_box">Branch:</p>
                            </div>
                            <div fxFlex="70" style="padding: 5px;">
                                <p class="text_box"><b>{{_portalEmployeeModel.Branch}}</b> </p>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column">
                            <div fxFlex="30" style="padding: 5px;">
                                <p class="text_box">Position:</p>
                            </div>
                            <div fxFlex="70" style="padding: 5px;">
                                <p class="text_box"><b>{{_portalEmployeeModel.Position}}</b> </p>
                            </div>
                        </div>
                        <div fxLayout="row" fxLayout.xs="column">
                            <div fxFlex="30" style="padding: 5px;">
                                <p class="text_box">Payroll Group:</p>
                            </div>
                            <div fxFlex="70" style="padding: 5px;">
                                <p class="text_box"><b>{{_portalEmployeeModel.PayrollGroup}}</b> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <mat-tab-group #tabGroup (selectedTabChange)="activeTab()" style="max-height:100%;">
            <mat-tab label="OT Application">
                <br>
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="20" style="padding: 5px;">
                        <mat-form-field appearance="outline" style="width: 100%; font-size:smaller;">
                            <mat-label>Year</mat-label>
                            <mat-select [(ngModel)]="_currentYearIdOT">
                                <mat-option *ngFor="let year of _yearOTListDropdownList" [value]="year.Id">
                                    {{year.Value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <mat-progress-bar *ngIf="_isOvertimeApplicationProgressBarHidden" [color]="'primary'"
                    [mode]="'indeterminate'">
                </mat-progress-bar>
                <wj-flex-grid #flexOvertimeApplication [itemsSource]="_listOvertimeApplicationCollectionView"
                    [selectionMode]="3" [headersVisibility]="1">
                    <wj-flex-grid-filter></wj-flex-grid-filter>
                    <wj-flex-grid-column [isReadOnly]="true" [width]="90">
                        <ng-template wjFlexGridCellTemplate [cellType]="'Cell'">
                            <button mat-raised-button color="primary" (click)="ViewOvertimeApplication()"
                                style="width: 100%; font-size: 11px; line-height: 20px; padding-left: 3px; padding-right: 3px;">
                                View
                            </button>
                        </ng-template>
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Number'" [binding]="'OTNumber'" [isReadOnly]="true" [width]="'2*'">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Date'" [binding]="'OTDate'" [isReadOnly]="true" [width]="100">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Year'" [binding]="'Year'" [isReadOnly]="true" [width]="100">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Remarks'" [binding]="'Remarks'" [isReadOnly]="true" [width]="'3*'">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Prepared By'" [binding]="'PreparedByUser'" [isReadOnly]="true"
                        [width]="'3*'">
                    </wj-flex-grid-column>
                </wj-flex-grid>
                <div fxFlex="25" style="padding: 2px;">
                    <div fxLayout="row" fxLayout.xs="column">
                        <mat-button-toggle-group style="margin-top: 7px; width: 100%;">
                            <mat-button-toggle (click)="_listOvertimeApplicationCollectionView.moveToFirstPage()"
                                style=" width: 100%;">
                                <mat-icon style="margin-right: -15px">navigate_before</mat-icon>
                                <mat-icon>navigate_before</mat-icon>
                            </mat-button-toggle>
                            <mat-button-toggle (click)="_listOvertimeApplicationCollectionView.moveToPreviousPage()"
                                style=" width: 100%;">
                                <mat-icon>navigate_before</mat-icon>
                            </mat-button-toggle>
                            <mat-button-toggle style=" width: 100%;">
                                {{ _listOvertimeApplicationCollectionView.pageIndex + 1 }} /
                                {{ _listOvertimeApplicationCollectionView.pageCount }}</mat-button-toggle>
                            <mat-button-toggle (click)="_listOvertimeApplicationCollectionView.moveToNextPage()"
                                style=" width: 100%;">
                                <mat-icon>navigate_next</mat-icon>
                            </mat-button-toggle>
                            <mat-button-toggle (click)="_listOvertimeApplicationCollectionView.moveToLastPage()"
                                style=" width: 100%;">
                                <mat-icon style="margin-right: -15px">navigate_next</mat-icon>
                                <mat-icon>navigate_next</mat-icon>
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                </div>
                <div fxFlex="15" style="padding: 5px;">
                </div>
            </mat-tab>
            <mat-tab label="Leave Application">
                <br>
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="20" style="padding: 5px;">
                        <mat-form-field appearance="outline" style="width: 100%; font-size:smaller;">
                            <mat-label>Year</mat-label>
                            <mat-select [(ngModel)]="_currentYearIdLA">
                                <mat-option *ngFor="let year of _yearLAListDropdownList" [value]="year.Id">
                                    {{year.Value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex="60" style="padding: 5px;">

                    </div>
                    <div fxFlex="20" style="padding: 5px;">
                        <button mat-raised-button color="primary" style="float: right; margin: 5px;"
                            (click)="AddLeaveApplication()">
                            <mat-icon>add</mat-icon> ADD
                        </button>
                    </div>
                </div>
                <mat-progress-bar *ngIf="_isLeaveApplicationProgressBarHidden" [color]="'primary'"
                    [mode]="'indeterminate'">
                </mat-progress-bar>
                <wj-flex-grid #flexLeaveApplication [itemsSource]="_listLeaveApplicationCollectionView"
                    [selectionMode]="3" [headersVisibility]="1" #LAGrid
                    (click)="leaveApplicationridClick(LAGrid, $event)">
                    <wj-flex-grid-filter></wj-flex-grid-filter>

                    <wj-flex-grid-column [binding]="'IsLocked'" [isReadOnly]="true" [width]="90">
                        <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                            <button mat-raised-button class="la-button-edit" color="primary"
                                [disabled]="cell.item.IsLocked"
                                style="width: 100%; font-size: 11px; line-height: 20px; padding-left: 3px; padding-right: 3px;">
                                <mat-icon class="la-button-edit">edit</mat-icon>
                                <span class="la-button-edit">Edit</span>
                            </button>
                        </ng-template>
                    </wj-flex-grid-column>

                    <wj-flex-grid-column [binding]="'IsLocked'" [isReadOnly]="true" [width]="90">
                        <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                            <button mat-raised-button class="la-button-delete" color="warn"
                                [disabled]="cell.item.IsLocked"
                                style="width: 100%; font-size: 11px; line-height: 20px; padding-left: 3px; padding-right: 3px;">
                                <mat-icon class="la-button-delete">delete</mat-icon>
                                <span class="la-button-delete">Delete</span>
                            </button>
                        </ng-template>
                    </wj-flex-grid-column>

                    <wj-flex-grid-column [header]="'Number'" [binding]="'LANumber'" [isReadOnly]="true" [width]="100">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Year'" [binding]="'Year'" [isReadOnly]="true" [width]="100">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Date'" [binding]="'LineLADate'" [isReadOnly]="true" [width]="100">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'IsHalfDay'" [binding]="'IsHalfDay'" [isReadOnly]="true"
                        [width]="'3*'">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'IsWithPay'" [binding]="'IsWithPay'" [isReadOnly]="true"
                        [width]="'3*'">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Remarks'" [binding]="'Remarks'" [isReadOnly]="true" [width]="'3*'">
                    </wj-flex-grid-column>
                </wj-flex-grid>
                <div fxLayout="row" fxLayout.xs="column" style="margin-bottom: 15px;">
                    <div fxFlex="25" style="padding: 2px;">
                        <div fxLayout="row" fxLayout.xs="column">
                            <mat-button-toggle-group style="margin-top: 7px; width: 100%;">
                                <mat-button-toggle (click)="_listLeaveApplicationCollectionView.moveToFirstPage()"
                                    style=" width: 100%;">
                                    <mat-icon style="margin-right: -15px">navigate_before</mat-icon>
                                    <mat-icon>navigate_before</mat-icon>
                                </mat-button-toggle>
                                <mat-button-toggle (click)="_listLeaveApplicationCollectionView.moveToPreviousPage()"
                                    style=" width: 100%;">
                                    <mat-icon>navigate_before</mat-icon>
                                </mat-button-toggle>
                                <mat-button-toggle style=" width: 100%;">
                                    {{ _listLeaveApplicationCollectionView.pageIndex + 1 }} /
                                    {{ _listLeaveApplicationCollectionView.pageCount }}</mat-button-toggle>
                                <mat-button-toggle (click)="_listLeaveApplicationCollectionView.moveToNextPage()"
                                    style=" width: 100%;">
                                    <mat-icon>navigate_next</mat-icon>
                                </mat-button-toggle>
                                <mat-button-toggle (click)="_listLeaveApplicationCollectionView.moveToLastPage()"
                                    style=" width: 100%;">
                                    <mat-icon style="margin-right: -15px">navigate_next</mat-icon>
                                    <mat-icon>navigate_next</mat-icon>
                                </mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="DTR">
                <br>
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="20" style="padding: 5px;">
                        <mat-form-field appearance="outline" style="width: 100%; font-size:smaller;">
                            <mat-label>Year</mat-label>
                            <mat-select [(ngModel)]="_currentYearIdDTR">
                                <mat-option *ngFor="let year of _yearDTRListDropdownList" [value]="year.Id">
                                    {{year.Value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <mat-progress-bar *ngIf="_isDTRProgressBarHidden" [color]="'primary'" [mode]="'indeterminate'">
                </mat-progress-bar>

                <wj-flex-grid #flexDTR [itemsSource]="_listDTRCollectionView" [selectionMode]="3" [frozenColumns]="2"
                    [headersVisibility]="1">
                    <wj-flex-grid-filter></wj-flex-grid-filter>
                    <wj-flex-grid-column [isReadOnly]="true" [width]="90">
                        <ng-template wjFlexGridCellTemplate [cellType]="'Cell'">
                            <button mat-raised-button color="primary" (click)="ViewDTR()"
                                style="width: 100%; font-size: 11px; line-height: 20px; padding-left: 3px; padding-right: 3px;">
                                View
                            </button>
                        </ng-template>
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'DTR No.'" [binding]="'DTRNumber'" [isReadOnly]="true" [width]="100">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Date'" [binding]="'DTRDate'" [isReadOnly]="true" [width]="100">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Year'" [binding]="'Year'" [isReadOnly]="true" [width]="100">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Date Start'" [binding]="'DateStart'" [isReadOnly]="true"
                        [width]="100">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Date End'" [binding]="'DateEnd'" [isReadOnly]="true" [width]="100">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Remarks'" [binding]="'Remarks'" [isReadOnly]="true" [width]="'2*'">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Prepared By'" [binding]="'PreparedByUser'" [isReadOnly]="true"
                        [width]="'2*'">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'L'" [binding]="'IsLocked'" [isReadOnly]="true" [width]="40">
                    </wj-flex-grid-column>
                </wj-flex-grid>

                <div fxLayout="row" fxLayout.xs="column" style="margin-bottom: 15px;">
                    <div fxFlex="25" style="padding: 2px;">
                        <div fxLayout="row" fxLayout.xs="column">
                            <mat-button-toggle-group style="margin-top: 7px; width: 100%;">
                                <mat-button-toggle (click)="_listDTRCollectionView.moveToFirstPage()"
                                    style=" width: 100%;">
                                    <mat-icon style="margin-right: -15px">navigate_before</mat-icon>
                                    <mat-icon>navigate_before</mat-icon>
                                </mat-button-toggle>
                                <mat-button-toggle (click)="_listDTRCollectionView.moveToPreviousPage()"
                                    style=" width: 100%;">
                                    <mat-icon>navigate_before</mat-icon>
                                </mat-button-toggle>
                                <mat-button-toggle style=" width: 100%;">{{ _listDTRCollectionView.pageIndex + 1 }}
                                    /
                                    {{ _listDTRCollectionView.pageCount }}</mat-button-toggle>
                                <mat-button-toggle (click)="_listDTRCollectionView.moveToNextPage()"
                                    style=" width: 100%;">
                                    <mat-icon>navigate_next</mat-icon>
                                </mat-button-toggle>
                                <mat-button-toggle (click)="_listDTRCollectionView.moveToLastPage()"
                                    style=" width: 100%;">
                                    <mat-icon style="margin-right: -15px">navigate_next</mat-icon>
                                    <mat-icon>navigate_next</mat-icon>
                                </mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>
                    </div>
                    <div fxFlex="15" style="padding: 5px;">

                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Payroll">
                <br>
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="20" style="padding: 5px;">
                        <mat-form-field appearance="outline" style="width: 100%; font-size:smaller;">
                            <mat-label>Year</mat-label>
                            <mat-select [(ngModel)]="_currentYearIdPayroll">
                                <mat-option *ngFor="let year of _yearPayrollListDropdownList" [value]="year.Id">
                                    {{year.Value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <mat-progress-bar *ngIf="_isPayrollProgressBarHidden" [color]="'primary'" [mode]="'indeterminate'">
                </mat-progress-bar>

                <wj-flex-grid #flexPayroll [itemsSource]="_listPayrollCollectionView" [selectionMode]="3"
                    [headersVisibility]="1">
                    <wj-flex-grid-filter></wj-flex-grid-filter>
                    <wj-flex-grid-column [isReadOnly]="true" [width]="90">
                        <ng-template wjFlexGridCellTemplate [cellType]="'Cell'">
                            <button mat-raised-button color="primary" (click)="ViewPayroll()"
                                style="width: 100%; font-size: 11px; line-height: 20px; padding-left: 3px; padding-right: 3px;">
                                View
                            </button>
                        </ng-template>
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Pay No.'" [binding]="'PAYNumber'" [isReadOnly]="true" [width]="100">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Date'" [binding]="'PAYDate'" [isReadOnly]="true" [width]="100">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Year'" [binding]="'Year'" [isReadOnly]="true" [width]="100">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Remarks'" [binding]="'Remarks'" [isReadOnly]="true" [width]="'2*'">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Prepared By'" [binding]="'PreparedByUser'" [isReadOnly]="true"
                        [width]="'2*'">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'L'" [binding]="'IsLocked'" [isReadOnly]="true" [width]="40">
                    </wj-flex-grid-column>
                </wj-flex-grid>

                <div fxLayout="row" fxLayout.xs="column" style="margin-bottom: 15px;">
                    <div fxFlex="25" style="padding: 2px;">
                        <div fxLayout="row" fxLayout.xs="column">
                            <mat-button-toggle-group style="margin-top: 7px; width: 100%;">
                                <mat-button-toggle (click)="_listPayrollCollectionView.moveToFirstPage()"
                                    style=" width: 100%;">
                                    <mat-icon style="margin-right: -15px">navigate_before</mat-icon>
                                    <mat-icon>navigate_before</mat-icon>
                                </mat-button-toggle>
                                <mat-button-toggle (click)="_listPayrollCollectionView.moveToPreviousPage()"
                                    style=" width: 100%;">
                                    <mat-icon>navigate_before</mat-icon>
                                </mat-button-toggle>
                                <mat-button-toggle style=" width: 100%;">
                                    {{ _listPayrollCollectionView.pageIndex + 1 }} /
                                    {{ _listPayrollCollectionView.pageCount }}</mat-button-toggle>
                                <mat-button-toggle (click)="_listPayrollCollectionView.moveToNextPage()"
                                    style=" width: 100%;">
                                    <mat-icon>navigate_next</mat-icon>
                                </mat-button-toggle>
                                <mat-button-toggle (click)="_listPayrollCollectionView.moveToLastPage()"
                                    style=" width: 100%;">
                                    <mat-icon style="margin-right: -15px">navigate_next</mat-icon>
                                    <mat-icon>navigate_next</mat-icon>
                                </mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>
                    </div>
                    <div fxFlex="15" style="padding: 5px;">

                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Loan">
                <br>
                <mat-progress-bar *ngIf="_isProgressBarHidden" [color]="'primary'" [mode]="'indeterminate'">
                </mat-progress-bar>

                <wj-flex-grid #flexLoan [itemsSource]="_listLoanCollectionView" [selectionMode]="3"
                    [headersVisibility]="1">
                    <wj-flex-grid-filter></wj-flex-grid-filter>
                    <wj-flex-grid-column [isReadOnly]="true" [width]="90">
                        <ng-template wjFlexGridCellTemplate [cellType]="'Cell'">
                            <button mat-raised-button color="primary" (click)="ViewLoan()"
                                style="width: 100%; font-size: 11px; line-height: 20px; padding-left: 3px; padding-right: 3px;">
                                View
                            </button>
                        </ng-template>
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Number'" [binding]="'LNNumber'" [isReadOnly]="true" [width]="100">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Date'" [binding]="'LDDate'" [isReadOnly]="true" [width]="150">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Employee'" [binding]="'Employee'" [isReadOnly]="true" [width]="150">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Other Deduction'" [binding]="'OtherDeduction'" [isReadOnly]="true"
                        [width]="150">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'DocRef'" [binding]="'DocRef'" [isReadOnly]="true" [width]="100">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Amortization'" [binding]="'Amortization'" [isReadOnly]="true"
                        [width]="150">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Loan Amount'" [binding]="'LoanAmount'" [isReadOnly]="true"
                        [width]="150">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Paid Amount'" [binding]="'PaidAmount'" [isReadOnly]="true"
                        [width]="150">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Balance Amount'" [binding]="'BalanceAmount'" [isReadOnly]="true"
                        [width]="150">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Status'" [binding]="'Status'" [isReadOnly]="true" [width]="150">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Remarks'" [binding]="'Remarks'" [isReadOnly]="true" [width]="150">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Prepared By'" [binding]="'PreparedByUser'" [isReadOnly]="true"
                        [width]="150">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'L'" [binding]="'IsLocked'" [isReadOnly]="true" [width]="50">
                    </wj-flex-grid-column>
                </wj-flex-grid>
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="25" style="padding: 2px;">
                        <div fxLayout="row" fxLayout.xs="column">
                            <mat-button-toggle-group style="margin-top: 7px; width: 100%;">
                                <mat-button-toggle (click)="_listLoanCollectionView.moveToFirstPage()">
                                    <mat-icon style="margin-right: -15px">navigate_before</mat-icon>
                                    <mat-icon>navigate_before</mat-icon>
                                </mat-button-toggle>
                                <mat-button-toggle (click)="_listLoanCollectionView.moveToPreviousPage()">
                                    <mat-icon>navigate_before</mat-icon>
                                </mat-button-toggle>
                                <mat-button-toggle>{{ _listLoanCollectionView.pageIndex + 1 }} /
                                    {{ _listLoanCollectionView.pageCount }}</mat-button-toggle>
                                <mat-button-toggle (click)="_listLoanCollectionView.moveToNextPage()">
                                    <mat-icon>navigate_next</mat-icon>
                                </mat-button-toggle>
                                <mat-button-toggle (click)="_listLoanCollectionView.moveToLastPage()">
                                    <mat-icon style="margin-right: -15px">navigate_next</mat-icon>
                                    <mat-icon>navigate_next</mat-icon>
                                </mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>
                    </div>
                    <div fxFlex="15" style="padding: 5px;">

                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>