<mat-toolbar>
    <img src="../../../../assets/menu-icons/user.png" height="35" />
    <span>&nbsp;&nbsp; User List</span>
</mat-toolbar>
<div class="software-container">
    <mat-card>
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="100" style="margin-bottom: 5px;">
                <button mat-button color="primary" routerLink="/software/user-detail"
                    style="float: right;background-color: #742774; color: cornsilk; margin: 5px;">ADD</button><br><br>
            </div>
        </div>
        <mat-divider></mat-divider>
        <br>
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="100" style="margin: 5px;width: 100%;">
                <mat-progress-bar *ngIf="isProgressBarHidden" [color]="'primary'" [mode]="'indeterminate'">
                </mat-progress-bar>
                <wj-flex-grid #flexUsers [itemsSource]="listUserCollectionView" [selectionMode]="3" [frozenColumns]="2">
                    <wj-flex-grid-filter></wj-flex-grid-filter>
                    <wj-flex-grid-column [header]="'Edit'" [isReadOnly]="true" [width]="80">
                        <ng-template wjFlexGridCellTemplate [cellType]="'Cell'">
                            <button type="button" mat-raised-button style="width: 100%; height: 25%" color="warm"
                                (click)="getRowData()" id="btnEditEmployee">
                                <i class="fa fa-edit fa-fw"></i> Edit
                            </button>
                        </ng-template>
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Delete'" [isReadOnly]="true" [width]="80">
                        <ng-template wjFlexGridCellTemplate [cellType]="'Cell'">
                            <button type="button" mat-raised-button style="width: 100%; height: 5%" color="primary"
                                id="btnDeleteEmployee">
                                <i class="fa fa-edit fa-fw"></i> Delete
                            </button>
                        </ng-template>
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'FullName'" [binding]="'FullName'" [isReadOnly]="true"
                        [width]="'2*'">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Username'" [binding]="'Username'" [isReadOnly]="true"
                        [width]="'2*'">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Password'" [binding]="'Password'" [isReadOnly]="true"
                        [width]="'2*'">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Created By'" [binding]="'CreatedByUser'" [isReadOnly]="true"
                        [width]="'2*'">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Created Date'" [binding]="'CreatedDateTime'" [isReadOnly]="true"
                        [width]="'2*'">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Updated By'" [binding]="'UpdatedByUser'" [isReadOnly]="true"
                        [width]="'2*'">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Updated Date'" [binding]="'UpdatedDateTime'" [isReadOnly]="true"
                        [width]="'2*'">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'L'" [binding]="'IsLocked'" [isReadOnly]="true" [width]="'.40*'">
                    </wj-flex-grid-column>
                </wj-flex-grid>
                <mat-button-toggle-group>
                    <mat-button-toggle (click)="listUserCollectionView.moveToFirstPage()">
                        <mat-icon style="margin-right: -15px">navigate_before</mat-icon>
                        <mat-icon>navigate_before</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle (click)="listUserCollectionView.moveToPreviousPage()">
                        <mat-icon>navigate_before</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle>{{ listUserCollectionView.pageIndex + 1 }} /
                        {{ listUserCollectionView.pageCount }}</mat-button-toggle>
                    <mat-button-toggle (click)="listUserCollectionView.moveToNextPage()">
                        <mat-icon>navigate_next</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle (click)="listUserCollectionView.moveToLastPage()">
                        <mat-icon style="margin-right: -15px">navigate_next</mat-icon>
                        <mat-icon>navigate_next</mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
                <!-- </mat-card> -->
            </div>
        </div>
    </mat-card>
</div>