<mat-toolbar>
    <img src="../../../../assets/menu-icons/leave application.png" height="35" />
    <span>&nbsp;&nbsp; Leave Application List</span>
    <span class="spacer"></span>
    <button mat-flat-button color="primary" style="margin: 5px;" [disabled]="_buttonDisabled"
        (click)="AddLeaveApplication()" *ngIf="_userRights.CanAdd">
        <!-- <mat-icon>add</mat-icon> -->
        Add
    </button>
    <button mat-raised-button style="margin: 5px;" routerLink="/software" color="warn">
        <!-- <mat-icon>close</mat-icon> -->
        Close
    </button>
</mat-toolbar>
<div class="software-container" [hidden]="!_userRights.CanOpen">
    <div fxLayout="row" fxLayout.xs="column">

        <div fxFlex="20" style="padding: 5px;">
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Payroll Group</mat-label>
                <mat-select [(ngModel)]="_filterPayrollGroup" (selectionChange)='PayrollGroupSelectionChange()'>
                    <mat-option *ngFor="let payrollGroup of _payrollGroupListDropdown" [value]="payrollGroup.Value">
                        {{payrollGroup.Value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

    </div>
    <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="100" style="margin: 5px;">
            <mat-progress-bar *ngIf="_isProgressBarHidden" [color]="'primary'" [mode]="'indeterminate'">
            </mat-progress-bar>
            <wj-flex-grid #flexLeaveApplication [itemsSource]="_listLeaveApplicationCollectionView" [selectionMode]="3"
                [frozenColumns]="2" #Grid (click)="gridClick(Grid, $event)">
                <wj-flex-grid-filter></wj-flex-grid-filter>
                <wj-flex-grid-column [header]="'Edit'" [isReadOnly]="true" [width]="90" *ngIf="_userRights.CanEdit">
                    <ng-template wjFlexGridCellTemplate [cellType]="'Cell'">
                        <button mat-raised-button class="button-edit" color="primary"
                            style="width: 100%; font-size: 11px; line-height: 20px; padding-left: 3px; padding-right: 3px;">
                            <span class="button-edit">Edit</span>
                        </button>
                    </ng-template>
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Delete'" [isReadOnly]="true" [width]="90" *ngIf="_userRights.CanDelete">
                    <ng-template wjFlexGridCellTemplate [cellType]="'Cell'">
                        <button mat-raised-button class="button-delete" color="warn"
                            style="width: 100%; font-size: 11px; line-height: 20px; padding-left: 3px; padding-right: 3px;">
                            <span class="button-delete">Delete</span>
                        </button>
                    </ng-template>
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'LA No.'" [binding]="'LANumber'" [isReadOnly]="true" [isReadOnly]="true"
                    [width]="100">
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Date'" [binding]="'LADate'" [isReadOnly]="true" [isReadOnly]="true"
                    [width]="100">
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Year'" [binding]="'Year'" [isReadOnly]="true" [isReadOnly]="true"
                    [width]="100">
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Remarks'" [binding]="'Remarks'" [isReadOnly]="true" [isReadOnly]="true"
                    [width]="'2*'">
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Prepared By'" [binding]="'PreparedByUser'" [isReadOnly]="true"
                    [isReadOnly]="true" [width]="'2*'">
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'L'" [binding]="'IsLocked'" [isReadOnly]="true" [isReadOnly]="true"
                    [width]="40">
                </wj-flex-grid-column>
            </wj-flex-grid>

        </div>
    </div>
    <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="25" style="padding: 2px;">
            <div fxLayout="row" fxLayout.xs="column">
                <mat-button-toggle-group style="margin-top: 7px; width: 100%;">
                    <mat-button-toggle style="width: 100%;"
                        (click)="_listLeaveApplicationCollectionView.moveToFirstPage()">
                        <mat-icon style="margin-right: -15px;">navigate_before</mat-icon>
                        <mat-icon>navigate_before</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle style="width: 100%;"
                        (click)="_listLeaveApplicationCollectionView.moveToPreviousPage()">
                        <mat-icon>navigate_before</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle style="width: 100%;">
                        {{ _listLeaveApplicationCollectionView.pageIndex + 1 }}
                        /
                        {{ _listLeaveApplicationCollectionView.pageCount }}</mat-button-toggle>
                    <mat-button-toggle style="width: 100%;"
                        (click)="_listLeaveApplicationCollectionView.moveToNextPage()">
                        <mat-icon>navigate_next</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle style="width: 100%;"
                        (click)="_listLeaveApplicationCollectionView.moveToLastPage()">
                        <mat-icon style="margin-right: -15px">navigate_next</mat-icon>
                        <mat-icon>navigate_next</mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
        <div fxFlex="15" style="padding: 5px;">
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Row</mat-label>
                <mat-select [(ngModel)]="_listPageIndex"
                    (selectionChange)='CboShowNumberOfRowsOnSelectedIndexChanged()'>
                    <mat-option *ngFor="let rowSize of _createCboShowNumberOfRows" [value]="rowSize.rowNumber">
                        {{rowSize.rowString}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>