<mat-toolbar>
    <img src="../../../../assets/menu-icons/year.png" height="35" />
    <span>&nbsp;&nbsp; Year Detail</span>
    <span class="spacer"></span>
    <button mat-raised-button style="margin: 5px;" color="primary" (click)="SaveYearDetail()"
        [disabled]="_btnSaveDisabled" *ngIf="_userRights.CanEdit">
        <!-- <mat-icon>save</mat-icon> -->
        Save
    </button>
    <button mat-raised-button style="margin: 5px;" color="primary" (click)="LockYearDetail()"
        [disabled]="_btnLockIsabled" *ngIf="_userRights.CanLock">
        <!-- <mat-icon>lock</mat-icon> -->
        Lock
    </button>
    <button mat-raised-button style="margin: 5px;" color="primary" (click)="UnlockYearDetail()"
        [disabled]="_btnUnlockDisabled" *ngIf="_userRights.CanUnlock">
        <!-- <mat-icon>lock_open</mat-icon> -->
        Unlock
    </button>
    <button mat-raised-button style="margin: 5px;" routerLink="/software/year-list" color="warn">
        <!-- <mat-icon>close</mat-icon> -->
        Close
    </button>
</mat-toolbar>
<mat-progress-bar *ngIf="isProgressBarHidden" [color]="'primary'" [mode]="'indeterminate'" style="width: 100%;">
</mat-progress-bar>
<div class="software-container" [hidden]="!_userRights.CanOpen">
    <div [hidden]="!_isComponentsShown">
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="20" style="padding: 5px;">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>YearCode</mat-label>
                    <input matInput placeholder="Full Name" [(ngModel)]="_yearModel.YearCode" readonly>
                </mat-form-field>
            </div>
            <div fxFlex="20" style="padding: 5px;">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Year</mat-label>
                    <input matInput placeholder="Full Name" [(ngModel)]="_yearModel.Year" [readonly]="_isLocked">
                </mat-form-field>
            </div>
            <div fxFlex="20" style="padding: 5px;">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>DateStart</mat-label>
                    <input matInput [matDatepicker]="datePickerDateStart" [(ngModel)]="UIDateStart"
                        (dateInput)="GetUIDATEDateStart()" [readonly]="_isLocked">
                    <mat-datepicker-toggle matSuffix [for]="datePickerDateStart" [disabled]="_isLocked">
                    </mat-datepicker-toggle>
                    <mat-datepicker #datePickerDateStart color="primary"></mat-datepicker>
                </mat-form-field>
            </div>
            <div fxFlex="20" style="padding: 5px;">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>DateEnd</mat-label>
                    <input matInput [matDatepicker]="datePickerDateEnd" [(ngModel)]="UIDateEnd"
                        (dateInput)="GetUIDATEDateEnd()" [readonly]="_isLocked">
                    <mat-datepicker-toggle matSuffix [for]="datePickerDateEnd" [disabled]="_isLocked">
                    </mat-datepicker-toggle>
                    <mat-datepicker #datePickerDateEnd color="primary"></mat-datepicker>
                </mat-form-field>
            </div>
            <div fxFlex="20" style="padding: 5px;" style="padding: 23px; text-align: start; display: inline;">
                <div style="width: 100%; border: gray 1px !important">
                    <mat-checkbox color="primary" [disabled]="_isLocked" [(ngModel)]="_yearModel.IsClose">
                        <span style="color: gray;">
                            Close</span>
                    </mat-checkbox>
                </div>
            </div>
        </div>

        <mat-tab-group #tabGroup (selectedTabChange)="activeTab()" style="max-height:100%;" class="detail-tab ">
            <mat-tab label="Year Date">
                <br>
                <mat-progress-bar *ngIf="_isYearDateProgressBarHidden" [color]="'primary'" [mode]="'indeterminate'">
                </mat-progress-bar>

                <wj-flex-grid #flexYearDate [itemsSource]="_listYearDateCollectionView" [selectionMode]="3"
                    [frozenColumns]="2" [headersVisibility]="1" #Grid (click)="gridClick(Grid, $event)">
                    <wj-flex-grid-filter></wj-flex-grid-filter>
                    <wj-flex-grid-column [header]="'Edit'" [isReadOnly]="true" [width]="90" *ngIf="_canEdit">
                        <ng-template wjFlexGridCellTemplate [cellType]="'Cell'">
                            <button mat-raised-button class="button-edit" color="primary"
                                style="width: 100%; font-size: 11px; line-height: 20px; padding-left: 3px; padding-right: 3px;">
                                <!-- <mat-icon class="button-edit">edit</mat-icon> -->
                                <span class="button-edit">Edit</span>
                            </button>
                        </ng-template>
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Delete'" [isReadOnly]="true" [width]="90" *ngIf="_canDelete">
                        <ng-template wjFlexGridCellTemplate [cellType]="'Cell'">
                            <button mat-raised-button class="button-delete" color="warn"
                                style="width: 100%; font-size: 11px; line-height: 20px; padding-left: 3px; padding-right: 3px;">
                                <!-- <mat-icon class="button-delete">delete</mat-icon> -->
                                <span class="button-delete">Delete</span>
                            </button>
                        </ng-template>
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Date'" [binding]="'YearDate'" [isReadOnly]="true" [width]="100">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Branch'" [binding]="'Branch'" [isReadOnly]="true" [width]="'2*'">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Date Type'" [binding]="'DateType'" [isReadOnly]="true"
                        [width]="'2*'">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Remarks'" [binding]="'Remarks'" [isReadOnly]="true" [width]="'2*'">
                    </wj-flex-grid-column>
                </wj-flex-grid>

                <div fxLayout="row" fxLayout.xs="column" style="margin-bottom: 15px;">
                    <div fxFlex="30" style="padding: 2px;">
                        <div fxLayout="row" fxLayout.xs="column">
                            <mat-button-toggle-group style="margin-top: 7px; width: 100%;">
                                <mat-button-toggle (click)="_listYearDateCollectionView.moveToFirstPage()"
                                    style=" width: 100%;">
                                    <mat-icon style="margin-right: -15px">navigate_before</mat-icon>
                                    <mat-icon>navigate_before</mat-icon>
                                </mat-button-toggle>
                                <mat-button-toggle (click)="_listYearDateCollectionView.moveToPreviousPage()"
                                    style=" width: 100%;">
                                    <mat-icon>navigate_before</mat-icon>
                                </mat-button-toggle>
                                <mat-button-toggle style=" width: 100%;">{{ _listYearDateCollectionView.pageIndex + 1 }}
                                    /
                                    {{ _listYearDateCollectionView.pageCount }}</mat-button-toggle>
                                <mat-button-toggle (click)="_listYearDateCollectionView.moveToNextPage()"
                                    style=" width: 100%;">
                                    <mat-icon>navigate_next</mat-icon>
                                </mat-button-toggle>
                                <mat-button-toggle (click)="_listYearDateCollectionView.moveToLastPage()"
                                    style=" width: 100%;">
                                    <mat-icon style="margin-right: -15px">navigate_next</mat-icon>
                                    <mat-icon>navigate_next</mat-icon>
                                </mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Year Leave Credits">
                <br>
                <mat-progress-bar *ngIf="_isYearDateProgressBarHidden" [color]="'primary'" [mode]="'indeterminate'">
                </mat-progress-bar>

                <wj-flex-grid #flexYearLeaveCredits [itemsSource]="_listYearLeaveCreditsCollectionView" [selectionMode]="3"
                    [frozenColumns]="2" [headersVisibility]="1"
                    (click)="gridYearLeaveCreditsClick(flexYearLeaveCredits, $event)">
                    <wj-flex-grid-filter></wj-flex-grid-filter>
                    <wj-flex-grid-column [header]="'Edit'" [isReadOnly]="true" [width]="90" *ngIf="_canEdit">
                        <ng-template wjFlexGridCellTemplate [cellType]="'Cell'">
                            <button mat-raised-button class="lc-button-edit" color="primary"
                                style="width: 100%; font-size: 11px; line-height: 20px; padding-left: 3px; padding-right: 3px;">
                                <!-- <mat-icon class="button-edit">edit</mat-icon> -->
                                <span class="lc-button-edit">Edit</span>
                            </button>
                        </ng-template>
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Delete'" [isReadOnly]="true" [width]="90" *ngIf="_canDelete">
                        <ng-template wjFlexGridCellTemplate [cellType]="'Cell'">
                            <button mat-raised-button class="lc-button-delete" color="warn"
                                style="width: 100%; font-size: 11px; line-height: 20px; padding-left: 3px; padding-right: 3px;">
                                <!-- <mat-icon class="button-delete">delete</mat-icon> -->
                                <span class="lc-button-delete">Delete</span>
                            </button>
                        </ng-template>
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Employee'" [binding]="'Employee'" [isReadOnly]="true" [width]="100">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Leave Credits'" [binding]="'LeaveCredits'" [isReadOnly]="true" [width]="'2*'">
                    </wj-flex-grid-column>
                    <wj-flex-grid-column [header]="'Remarks'" [binding]="'Remarks'" [isReadOnly]="true" [width]="'2*'">
                    </wj-flex-grid-column>
                </wj-flex-grid>

                <div fxLayout="row" fxLayout.xs="column" style="margin-bottom: 15px;">
                    <div fxFlex="30" style="padding: 2px;">
                        <div fxLayout="row" fxLayout.xs="column">
                            <mat-button-toggle-group style="margin-top: 7px; width: 100%;">
                                <mat-button-toggle (click)="_listYearLeaveCreditsCollectionView.moveToFirstPage()"
                                    style=" width: 100%;">
                                    <mat-icon style="margin-right: -15px">navigate_before</mat-icon>
                                    <mat-icon>navigate_before</mat-icon>
                                </mat-button-toggle>
                                <mat-button-toggle (click)="_listYearLeaveCreditsCollectionView.moveToPreviousPage()"
                                    style=" width: 100%;">
                                    <mat-icon>navigate_before</mat-icon>
                                </mat-button-toggle>
                                <mat-button-toggle style=" width: 100%;">{{ _listYearLeaveCreditsCollectionView.pageIndex + 1 }}
                                    /
                                    {{ _listYearLeaveCreditsCollectionView.pageCount }}</mat-button-toggle>
                                <mat-button-toggle (click)="_listYearLeaveCreditsCollectionView.moveToNextPage()"
                                    style=" width: 100%;">
                                    <mat-icon>navigate_next</mat-icon>
                                </mat-button-toggle>
                                <mat-button-toggle (click)="_listYearLeaveCreditsCollectionView.moveToLastPage()"
                                    style=" width: 100%;">
                                    <mat-icon style="margin-right: -15px">navigate_next</mat-icon>
                                    <mat-icon>navigate_next</mat-icon>
                                </mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>
                    </div>
                </div>

            </mat-tab>
            <mat-tab disabled style="background-color: transparent; ">
                <ng-template mat-tab-label>
                    <button mat-raised-button color="primary" style="float: right; margin: 5px;" [disabled]="_isLocked"
                        (click)="Add()" [disabled]="_btnAddDateDisabled" *ngIf="_userRights.CanAdd">
                        <!-- <mat-icon>add</mat-icon>  -->
                        ADD
                    </button><br>
                </ng-template>
            </mat-tab>
        </mat-tab-group>

        <mat-divider style="margin: 5px;"></mat-divider>
        <div fxLayout="row" fxLayout.xs="column" style="color: gray;">
            <div fxFlex="50" style="padding: 5px;">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="13">
                        <mat-label class="text-create-update">Created By:</mat-label>
                    </div>
                    <div fxFlex="37">
                        <mat-label class="text-create-update">{{_yearModel.CreatedByUser}}</mat-label>
                    </div>
                    <div fxFlex="20">
                        <mat-label class="text-create-update">Created DateTime:</mat-label>
                    </div>
                    <div fxFlex="30">
                        <mat-label class="text-create-update">{{_yearModel.CreatedDateTime}}</mat-label>
                    </div>
                </div>
            </div>
            <div fxFlex="50" style="padding: 5px;">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="13">
                        <mat-label class="text-create-update">Updated By:</mat-label>
                    </div>
                    <div fxFlex="37">
                        <mat-label class="text-create-update">{{_yearModel.UpdatedByUser}}</mat-label>
                    </div>
                    <div fxFlex="20">
                        <mat-label class="text-create-update">Updated DateTime:</mat-label>
                    </div>
                    <div fxFlex="30">
                        <mat-label class="text-create-update">{{_yearModel.UpdatedDateTime}}</mat-label>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>