<h3 mat-dialog-title>
    Import DTR Logs
</h3>
<mat-progress-bar *ngIf="_isDTRLineProgressBarHidden" [color]="'primary'" [mode]="'indeterminate'">
</mat-progress-bar>
<mat-divider></mat-divider>
<div mat-dialog-content style="min-height: 80px;">
    <br>
    <div fxLayout="row" fxLayout.xs="column">

        <wj-flex-grid #flexDTRLine [itemsSource]="_listDTRLineCollectionView" [selectionMode]="3" [frozenColumns]="2"
            [headersVisibility]="1" style="max-height: 315px;">
            <wj-flex-grid-filter></wj-flex-grid-filter>
            <wj-flex-grid-column [header]="'Branch'" [binding]="'Branch'" [isReadOnly]="true" [width]="120">
            </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Employee'" [binding]="'Employee'" [isReadOnly]="true" [width]="'10*'">
            </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'Date'" [binding]="'DTRDate'" [isReadOnly]="true" [width]="100">
            </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'IN1'" [binding]="'TimeIn1'" [isReadOnly]="true" [width]="75">
            </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'OUT1'" [binding]="'TimeOut1'" [isReadOnly]="true" [width]="75">
            </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'IN2'" [binding]="'TimeIn2'" [isReadOnly]="true" [width]="75">
            </wj-flex-grid-column>
            <wj-flex-grid-column [header]="'OUT2'" [binding]="'TimeOut2'" [isReadOnly]="true" [width]="75">
            </wj-flex-grid-column>
        </wj-flex-grid>

    </div>
    <div fxLayout="row" fxLayout.xs="column" style="margin-top: 7px; margin-bottom: -15;">
        <div fxFlex="30" style="padding: 2px;">
            <div fxLayout="row" fxLayout.xs="column">
                <mat-button-toggle-group style="margin-top: 7px; width: 100%;">
                    <mat-button-toggle style="width: 100%;" (click)="_listDTRLineCollectionView.moveToFirstPage()">
                        <mat-icon style="margin-right: -15px;">navigate_before</mat-icon>
                        <mat-icon>navigate_before</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle style="width: 100%;" (click)="_listDTRLineCollectionView.moveToPreviousPage()">
                        <mat-icon>navigate_before</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle style="width: 100%;">
                        {{ _listDTRLineCollectionView.pageIndex + 1 }}
                        /
                        {{ _listDTRLineCollectionView.pageCount }}</mat-button-toggle>
                    <mat-button-toggle style="width: 100%;" (click)="_listDTRLineCollectionView.moveToNextPage()">
                        <mat-icon>navigate_next</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle style="width: 100%;" (click)="_listDTRLineCollectionView.moveToLastPage()">
                        <mat-icon style="margin-right: -15px">navigate_next</mat-icon>
                        <mat-icon>navigate_next</mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
        <div fxFlex="15" style="padding: 5px;">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Row</mat-label>
                <mat-select [(ngModel)]="_listPageIndex"
                    (selectionChange)='CboShowNumberOfRowsOnSelectedIndexChanged()'>
                    <mat-option *ngFor="let rowSize of _createCboShowNumberOfRows" [value]="rowSize.rowNumber">
                        {{rowSize.rowString}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions align="right">
    <input type="file" #file (change)="onFileChange($event)" multiple="false" hidden>
    <button mat-raised-button color="accent" style="float: right; margin: 5px;" (click)="PostDTRLogs()"
        [disabled]="isPostButtonHidden">
        <mat-icon>post_add</mat-icon> Post
    </button>
    <button mat-raised-button color="accent" style="float: right; margin: 5px;" (click)="file.click()">
        <mat-icon>publish</mat-icon> Import
    </button>
    <button mat-flat-button mat-dialog-close style="margin: 5px;" color="warn" (click)="Close()">
        <mat-icon>close</mat-icon>
        Cancel
    </button>
</div>