<h3 mat-dialog-title>
    <!-- <span>{{title}}</span> -->
    <span class="spacer"></span>
</h3>
<mat-divider></mat-divider>
<div mat-dialog-content style="max-height: 60%;">
    <ngx-doc-viewer name="printDoc" [url]="pdfUrl" viewer="url" class="col-sm-12" class="col-sm-12"
        style="height:720px">
    </ngx-doc-viewer>
</div>
<mat-divider style="margin-top: 10px;"></mat-divider>
<div mat-dialog-actions align="right">
    <button mat-raised-button mat-dialog-close style="margin: 5px;" color="warn" (click)="Close()">
        <mat-icon>close</mat-icon>
        Close
    </button>
</div>