/* You can add global styles to this file, and also import other style files */
@import '@grapecity/wijmo.styles/wijmo.css';

html, body { 
    height: 100%; 
}

body {
    margin: 0; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.violet-snackbar {
    background: #742774;
    color: #fff;
}

.green-snackbar {
    background: #7fba00;
    color: #fff;
}

.orange-snackbar {
    background: #f25022;
    color: #fff;
}

.software-container {
    padding: 15px;
}

.user-detail-tab .mat-tab-label:last-child, .dtr-detail-tab .mat-tab-label:last-child {
    margin-left: auto; 
    min-width: 0;
    padding: 0 12px;
    opacity: unset; 
    color: unset;
}

.timepicker-overlay {
    z-index: 10000000 !important;
}

.timepicker-backdrop-overlay {
    z-index: 10000000 !important;
}



