/* You can add global styles to this file, and also import other style files */
@import '@grapecity/wijmo.styles/wijmo.css';

@font-face {
    font-family: 'Segoe UI Light';
    src: url('assets/fonts/Segoe UI Light.ttf');
}

html, body { 
    height: 100%; 
}

body {
    margin: 0; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #3f3f3f !important;
    color: #fff;
}

.violet-snackbar {
    background: #742774;
    color: #fff;
}

.green-snackbar {
    background: #7fba00;
    color: #fff;
}

.orange-snackbar {
    background: #f25022;
    color: #fff;
}

.software-container {
    padding: 15px;
}

.detail-tab .mat-tab-label:last-child{
    margin-left: auto; 
    min-width: 0;
    padding: 0 12px;
    opacity: unset; 
    color: unset;
}

.mat-dialog-actions {
    justify-content: flex-end;
}

.spacer {
    flex: 1 1 auto;
}

.text-create-update{
    font-size: small;
}


/* Black theme */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: #292929;
}
::-webkit-scrollbar-thumb {
    background: #3d3d3d;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #585858;
}

.wj-control {
    background-color: #303030 !important;
    color: #ffffff !important;
}
.wj-content {
    border-radius: 6px !important;
    background-color: #303030 !important;
    color: #ffffff !important;
}
.wj-header {
    background-color: #2c2c2c !important;
    color: #ffffff !important;
}
.wj-state-selected {
    background-color: #0085c7 !important;
    color: #ffffff !important;
}
.wj-state-multi-selected {
    background-color: #0085c7 !important;
    color: #ffffff !important;
}
.wj-tooltip {
    background-color: #ffffff !important;
    color: #000000 !important;
}
.wj-cell:not(.wj-header):not(.wj-group):not(.wj-alt):not(.wj-state-selected):not(.wj-state-multi-selected) {
    background-color: #3f3f3f !important;
    color: #ffffff !important;
}
.wj-alt:not(.wj-header):not(.wj-group):not(.wj-state-selected):not(.wj-state-multi-selected) {
    background-color: #353535 !important;
    color: #ffffff !important;
}
.wj-cell {
    padding: 5px !important;
    font-size: 15px;
}
.wj-cell-check {
    color: blue !important;
}
/* 
mat-expansion-panel {
    border-bottom: 1px solid #585858 !important;
} */

.mat-form-field-underline {
    display: none !important;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
    padding: .75em 1em 0 1em !important;
}
.mat-form-field-wrapper {
    padding-bottom: 0px !important;
}