<mat-toolbar>
    <img src="../../../../assets/menu-icons/other income.png" height="35" />&nbsp;&nbsp;
    <span>{{title}}</span>
    <span class="spacer"></span>
    <button mat-raised-button style="margin: 5px;" color="primary" [disabled]="btnSaveDisabled"
        (click)="SaveOtherIncomeDetail()">
        <mat-icon>save</mat-icon>
        Save
    </button>
    <button mat-raised-button style="margin: 5px;" color="primary" [disabled]="btnLockisabled"
        (click)="LockOtherIncomeDetail()">
        <mat-icon>lock</mat-icon>
        Lock
    </button>
    <button mat-raised-button style="margin: 5px;" color="primary" [disabled]="btnUnlockDisabled"
        (click)="UnlockOtherIncomeDetail()">
        <mat-icon>lock_open</mat-icon>
        Unlock
    </button>
    <button mat-raised-button style="margin: 5px;" (click)="Close()" color="warn">
        <mat-icon>close</mat-icon>Close
    </button>
</mat-toolbar>
<mat-progress-bar *ngIf="isProgressBarHidden" [color]="'primary'" [mode]="'indeterminate'" style="width: 100%;">
</mat-progress-bar>
<div class="software">
    <div *ngIf="isComponentsShown">
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="25" style="padding: 5px;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>OtherIncomeCode</mat-label>
                    <input matInput placeholder="Other Income Code" [(ngModel)]="_otherIncomeModel.OtherIncomeCode"
                        readonly>
                </mat-form-field>
            </div>
            <div fxFlex="50" style="padding: 5px;">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>OtherIncome</mat-label>
                    <input matInput placeholder="Other Income" [(ngModel)]="_otherIncomeModel.OtherIncome"
                        [readonly]="isLocked">
                </mat-form-field>
            </div>
            <div fxFlex="25" style="padding: 5px;" style="padding: 23px; text-align: start; display: inline;">
                <div style="width: 100%; border: gray 1px !important">
                    <mat-checkbox color="primary" [disabled]="isLocked" [(ngModel)]="_otherIncomeModel.IsTaxable"><span
                            style="color: gray;">
                            Taxable</span>
                    </mat-checkbox>
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="row" fxLayout.xs="column" style="color: gray;">
            <div fxFlex="50" style="padding: 5px;">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="13">
                        <mat-label class="text-create-update">Created By:</mat-label>
                    </div>
                    <div fxFlex="37">
                        <mat-label class="text-create-update">{{_otherIncomeModel.CreatedByUser}}</mat-label>
                    </div>
                    <div fxFlex="20">
                        <mat-label class="text-create-update">Created DateTime:</mat-label>
                    </div>
                    <div fxFlex="30">
                        <mat-label class="text-create-update">{{_otherIncomeModel.CreatedDateTime}}</mat-label>
                    </div>
                </div>
            </div>
            <div fxFlex="50" style="padding: 5px;">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="13">
                        <mat-label class="text-create-update">Updated By:</mat-label>
                    </div>
                    <div fxFlex="37">
                        <mat-label class="text-create-update">{{_otherIncomeModel.UpdatedByUser}}</mat-label>
                    </div>
                    <div fxFlex="20">
                        <mat-label class="text-create-update">Updated DateTime:</mat-label>
                    </div>
                    <div fxFlex="30">
                        <mat-label class="text-create-update">{{_otherIncomeModel.UpdatedDateTime}}</mat-label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>